<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 678.1 361" style="enable-background:new 0 0 678.1 361;" xml:space="preserve">
<style type="text/css">
.st0{fill:#FFFFFF;stroke:#FAFAFA;stroke-width:18;stroke-miterlimit:10;}
.st1{enable-background:new    ;}
.st2{clip-path:url(#SVGID_2_);}
.st3{opacity:0.251;}
.st4{fill:#FFFFFF;}
.st5{clip-path:url(#SVGID_4_);}
.st6{clip-path:url(#SVGID_6_);}
.st7{clip-path:url(#SVGID_8_);}
.st8{clip-path:url(#SVGID_10_);}
.st9{clip-path:url(#SVGID_12_);}
.st10{clip-path:url(#SVGID_14_);}
.st11{clip-path:url(#SVGID_16_);}
.st12{clip-path:url(#SVGID_18_);}
.st13{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:3.690000e-02;stroke-miterlimit:10;}
</style>
<g id="Calque_2">

    <rect x="39.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -43.2177 97.9122)" class="st0" width="113.5" height="113.5"/>

    <rect x="201.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.2299 212.463)" class="st0" width="113.5" height="113.5"/>

    <rect x="363.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 51.6776 327.0139)" class="st0" width="113.5" height="113.5"/>

    <rect x="525.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 99.125 441.5648)" class="st0" width="113.5" height="113.5"/>

    <rect x="201.8" y="206.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -110.3211 259.9107)" class="st0" width="113.5" height="113.5"/>

    <rect x="363.8" y="206.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -62.8733 374.4615)" class="st0" width="113.5" height="113.5"/>
</g>
<g id="catégories_1_">
    <a xlink:href="<%= category_path('peinture-colles') %>"><g id="peinture__x26__colles_1_">
        <g id="peinture__x26__colles_1_">
            <g id="img_17_">
                <g id="Rectangle_31__x2B__Rectangle_28_copie_5_2_" class="st1">
                    <g>
                        <defs>

                            <rect id="SVGID_1_" x="39.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -43.2177 97.9122)" width="113.5" height="113.5"/>
                        </defs>
                        <clipPath id="SVGID_2_">
                            <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
                        </clipPath>
                        <g class="st2">

                           <image style="overflow:visible;" width="321" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_8_" xlink:href="<%= asset_path "svg/FD9D50AD418C638B.png" %>"  transform="matrix(0.5101 0 0 0.5073 15.1653 19.3054)">
                           </image>
                       </g>
                   </g>
               </g>
           </g>
           <g id="picto_17_">
            <g id="Ellipse_10" class="st3">
                <g>
                    <circle cx="96.7" cy="86.2" r="16.8"/>
                </g>
            </g>
            <path class="st4" d="M102.541,85.725c-0.377,0-0.718,0.183-0.93,0.459l-0.23-0.1l0.235-3.597h0.771
                c0.324,0,0.518-0.253,0.43-0.571l-0.341-1.213c-0.088-0.318-0.424-0.571-0.753-0.571H90.998c-0.33,0-0.665,0.253-0.753,0.571
                l-0.341,1.213c-0.088,0.318,0.106,0.571,0.43,0.571h0.771l0.583,8.83c0.018,0.324,0.306,0.589,0.63,0.589h8.088
                c0.324,0,0.606-0.265,0.63-0.589l0.306-4.609l0.041,0.018c-0.012,0.059-0.018,0.118-0.018,0.177c0,0.647,0.53,1.177,1.177,1.177
                c0.648,0,1.177-0.53,1.177-1.177C103.719,86.255,103.189,85.725,102.541,85.725z M90.521,81.899l0.294-1.036
                c0.018-0.065,0.118-0.141,0.182-0.141h10.725c0.065,0,0.171,0.077,0.188,0.141l0.288,1.036H90.521z M96.19,82.487v2.943
                c0,0.324-0.253,0.589-0.565,0.589c-0.312,0-0.565-0.259-0.565-0.589v-1.177c0-0.647-0.512-1.177-1.154-1.177
                c-0.636,0-1.148,0.53-1.148,1.177v2.355c0,0.324-0.259,0.589-0.565,0.589c-0.065,0-0.13-0.012-0.188-0.035h-0.006l-0.306-4.674
                H96.19z M100.446,91.276c0,0.018-0.024,0.041-0.041,0.041h-8.088c-0.012,0-0.041-0.024-0.041-0.041l-0.235-3.502
                c0.053,0.006,0.1,0.012,0.153,0.012c0.636,0,1.154-0.53,1.154-1.177v-2.355c0-0.33,0.253-0.589,0.559-0.589
                c0.312,0,0.565,0.259,0.565,0.589v1.177c0,0.647,0.518,1.177,1.154,1.177c0.636,0,1.154-0.53,1.154-1.177v-2.943h4.25
                l-0.224,3.349l-1.224-0.524c0.012-0.059,0.018-0.118,0.018-0.177c0-0.647-0.53-1.177-1.177-1.177
                c-0.647,0-1.177,0.53-1.177,1.177c0,0.647,0.53,1.177,1.177,1.177c0.377,0,0.718-0.183,0.93-0.459l1.413,0.606L100.446,91.276z
                 M98.539,84.866c-0.153-0.065-0.324,0.006-0.388,0.153c-0.065,0.153,0.006,0.324,0.153,0.388l0.471,0.2
                c-0.1,0.071-0.224,0.118-0.353,0.118c-0.324,0-0.589-0.265-0.589-0.589c0-0.324,0.265-0.589,0.589-0.589
                c0.3,0,0.547,0.23,0.583,0.518L98.539,84.866z M102.541,87.491c-0.3,0-0.547-0.23-0.583-0.518l0.465,0.2
                c0.153,0.065,0.324-0.006,0.389-0.153c0.065-0.153-0.006-0.324-0.153-0.388l-0.471-0.2c0.1-0.071,0.224-0.118,0.353-0.118
                c0.324,0,0.589,0.265,0.589,0.589C103.13,87.226,102.865,87.491,102.541,87.491z"/>
            </g>
        <g id="Peintures__x26__colles">
            <g>
                <path class="st4" d="M58.4,121.1h2.2c1.3,0,2,0.8,2,2.1c0,1.1-0.7,2.1-2,2.1h-1.3v2.7h-0.8V121.1z M59.2,124.6h1.1
                c0.9,0,1.4-0.6,1.4-1.4c0-0.8-0.4-1.4-1.4-1.4h-1.1V124.6z"/>
                <path class="st4" d="M63.3,125.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C64.1,128,63.3,126.9,63.3,125.3z M64.2,124.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C65,123.2,64.3,123.4,64.2,124.6z"/>
                <path class="st4" d="M68.9,121c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6s-0.3,0.6-0.6,0.6C69.1,121.5,68.9,121.3,68.9,121z
                M69,122.6h0.8v5.4H69V122.6z"/>
                <path class="st4" d="M71.6,122.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
                c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8C71.6,128,71.6,122.6,71.6,122.6z"/>
                <path class="st4" d="M76.7,122.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6h-1.2v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3h-0.7C76.7,123.2,76.7,122.6,76.7,122.6z"/>
                <path class="st4" d="M80.8,126.1v-3.5h0.8v3.4c0,0.8,0.2,1.4,1.2,1.4c0.5,0,0.9-0.2,1.2-0.4v-4.4h0.8v5.4H84v-0.4
                c-0.3,0.2-0.8,0.5-1.5,0.5C81.2,128,80.8,127.2,80.8,126.1z"/>
                <path class="st4" d="M86.5,122.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.6-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8V122.6z"/>
                <path class="st4" d="M89.6,125.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C90.5,128,89.6,126.9,89.6,125.3z M90.5,124.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C91.4,123.2,90.7,123.4,90.5,124.6z"/>
                <path class="st4" d="M94.9,127.7V127c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C95.9,128,95.3,127.9,94.9,127.7z"/>
                <path class="st4" d="M101.8,126.2c0-0.8,0.5-1.4,1.5-1.9c-0.6-0.7-0.9-1.1-0.9-1.7c0-1,0.8-1.6,1.8-1.6c1,0,1.7,0.6,1.7,1.5
                c0,0.8-0.5,1.2-1.6,1.9l1.8,1.9c0.3-0.5,0.5-1,0.6-1.6l0.7,0.1c-0.1,0.7-0.4,1.4-0.9,2c0.4,0.4,0.7,0.6,1,0.6
                c0.1,0,0.2,0,0.3-0.1v0.6c-0.1,0.1-0.3,0.1-0.5,0.1c-0.5,0-0.8-0.3-1.3-0.8c-0.5,0.5-1.2,0.8-2,0.8
                C102.7,128,101.8,127.2,101.8,126.2z M105.6,126.8l-1.9-2.1c-0.7,0.4-1.1,0.8-1.1,1.5c0,0.7,0.5,1.2,1.5,1.2
                C104.8,127.3,105.3,127.1,105.6,126.8z M104,123.9c0.8-0.5,1.2-0.9,1.2-1.4c0-0.5-0.4-0.9-1-0.9c-0.6,0-1,0.4-1,0.9
                C103.2,123,103.4,123.3,104,123.9z"/>
                <path class="st4" d="M111.2,125.4c0-1.6,0.8-2.9,2.4-2.9c0.7,0,1,0.1,1.3,0.3v0.7c-0.3-0.2-0.7-0.3-1.2-0.3
                c-1.2,0-1.7,0.8-1.7,2.2c0,1.3,0.6,2,1.7,2c0.6,0,0.9-0.1,1.2-0.3v0.7c-0.3,0.2-0.8,0.3-1.4,0.3
                C112.1,128,111.2,127,111.2,125.4z"/>
                <path class="st4" d="M115.8,125.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S115.8,126.8,115.8,125.3z
                M119.6,125.3c0-1-0.3-2.1-1.5-2.1s-1.5,1.1-1.5,2.1s0.3,2.1,1.5,2.1S119.6,126.3,119.6,125.3z"/>
                <path class="st4" d="M121.7,120.5h0.8v7.5h-0.8V120.5z"/>
                <path class="st4" d="M124.3,120.5h0.8v7.5h-0.8V120.5z"/>
                <path class="st4" d="M126.4,125.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C127.2,128,126.4,126.9,126.4,125.3z M127.3,124.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C128.1,123.2,127.4,123.4,127.3,124.6z"/>
                <path class="st4" d="M131.6,127.7V127c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C132.7,128,132,127.9,131.6,127.7z"/>
            </g>
        </g>
    </a>
</g>
<g id="Enduits_1_">
    <a xlink:href="<%= category_path('enduits') %>">
        <g id="img_16_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_4_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_3_" x="120.8" y="125.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -76.7694 178.9114)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_4_">
                        <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st5">

                        <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_7_" xlink:href="<%= asset_path "svg/FD9D50AD418C6389.png" %>" transform="matrix(0.5185 0 0 0.5185 91.9151 98.4413)">
                        </image>
                    </g>
                </g>
            </g>
        </g>
        <g id="picto_16_">
            <g id="Ellipse_10_1_" class="st3">
                <g>
                    <circle cx="177.7" cy="167.2" r="16.8"/>
                </g>
            </g>
            <path class="st4" d="M184.303,167.544v-7.146c0-0.405-0.318-0.73-0.715-0.73h-11.575c-0.397,0-0.715,0.325-0.715,0.73v7.146
                c-0.007,0.022-0.007,0.043-0.007,0.072s0,0.051,0.007,0.072v2.088c0,0.405,0.318,0.73,0.715,0.73h5.455v5.795
                c0,0.195,0.166,0.361,0.361,0.361c0.202,0,0.361-0.166,0.361-0.361v-5.795h5.398c0.397,0,0.715-0.325,0.715-0.73v-2.088
                c0.007-0.022,0.007-0.043,0.007-0.072S184.31,167.565,184.303,167.544z M174.548,160.39v2.168c0,0.202,0.159,0.361,0.361,0.361
                c0.202,0,0.361-0.159,0.361-0.361v-2.168h2.168v3.613c0,0.202,0.159,0.361,0.361,0.361c0.202,0,0.361-0.159,0.361-0.361v-3.613
                h2.168v2.168c0,0.202,0.159,0.361,0.361,0.361c0.202,0,0.361-0.159,0.361-0.361v-2.168h2.536c-0.007,0-0.007,0-0.007,0.007v6.857
                h-11.561v-6.857c0-0.007,0-0.007-0.007-0.007H174.548z M172.012,169.784c0.007,0,0.007,0,0.007-0.007v-1.799h11.561v1.799
                c0,0.007,0,0.007,0.007,0.007H172.012z"/>
        </g>
        <g id="Enduits_2_">
            <g>
                <path class="st4" d="M162,202.1h3.7v0.7h-2.8v2.1h2.4v0.7h-2.4v2.6h2.8v0.7H162V202.1z"/>
                <path class="st4" d="M167.2,203.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
                c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8L167.2,203.6L167.2,203.6z"/>
                <path class="st4" d="M172.5,206.3c0-1.6,0.9-2.8,2.5-2.8c0.5,0,0.9,0.1,1.1,0.2v-2.3h0.8v7.5H176v-0.4c-0.2,0.2-0.7,0.5-1.3,0.5
                C173.2,209,172.5,208,172.5,206.3z M176,208v-3.6c-0.2-0.1-0.6-0.2-1-0.2c-1.1,0-1.7,0.8-1.7,2.1c0,1.1,0.4,2.1,1.6,2.1
                C175.3,208.3,175.7,208.2,176,208z"/>
                <path class="st4" d="M178.5,207.1v-3.5h0.8v3.4c0,0.8,0.2,1.4,1.2,1.4c0.5,0,0.9-0.2,1.2-0.4v-4.4h0.8v5.4h-0.8v-0.4
                c-0.3,0.2-0.8,0.5-1.5,0.5C178.9,209,178.5,208.2,178.5,207.1z"/>
                <path class="st4" d="M184.2,202c0-0.3,0.3-0.6,0.6-0.6s0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6S184.2,202.3,184.2,202z
                M184.3,203.6h0.8v5.4h-0.8V203.6z"/>
                <path class="st4" d="M186.3,203.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6h-1.2v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3h-0.7L186.3,203.6L186.3,203.6z"/>
                <path class="st4" d="M190,208.7V208c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C191,209,190.3,208.9,190,208.7z"/>
            </g>
        </g>
    </a>
</g>
<g id="éco_d_x27_énergie_1_">
    <a xlink:href="<%= category_path('systeme-economie-energie') %>">
        <g id="img_15_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_6_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_5_" x="201.8" y="206.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -110.3211 259.9107)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_6_">
                        <use xlink:href="#SVGID_5_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st6">

                     <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_6_" xlink:href="<%= asset_path "svg/FD9D50AD418C6388.png" %>"  transform="matrix(0.5045 0 0 0.5045 177.3643 181.8904)">
                     </image>
                 </g>
             </g>
         </g>
     </g>
     <g id="picto_15_">
        <g id="Ellipse_10_2_" class="st3">
            <g>
                <circle cx="258.7" cy="248.2" r="16.8"/>
            </g>
        </g>
       <path class="st4" d="M254.507,244.111l-1.596-0.92c-0.14-0.085-0.183-0.274-0.104-0.414c0.085-0.146,0.268-0.201,0.408-0.116
                    l1.596,0.92c0.14,0.085,0.189,0.274,0.104,0.414C254.836,244.141,254.654,244.196,254.507,244.111z"/>
                <path class="st4" d="M258.431,241.259v-1.84c0-0.165,0.14-0.299,0.305-0.299c0.165,0,0.305,0.134,0.305,0.299v1.84
                    c0,0.165-0.134,0.299-0.305,0.299C258.572,241.558,258.431,241.423,258.431,241.259z"/>
                <path class="st4" d="M259.863,252.19c0.171,0,0.305,0.146,0.305,0.305c0,0.171-0.134,0.305-0.305,0.305h-2.255
                    c-0.171,0-0.311-0.14-0.311-0.305s0.14-0.305,0.311-0.305H259.863z"/>
                <path class="st4" d="M258.736,242.776c-1.852,0-3.351,1.475-3.351,3.296c0,1.316,0.78,2.45,1.913,2.974v1.59
                    c0,0.341,0.274,0.615,0.609,0.615h1.657c0.335,0,0.609-0.274,0.609-0.615v-1.59c1.133-0.524,1.913-1.657,1.913-2.974
                    C262.087,244.251,260.589,242.776,258.736,242.776z M259.565,250.637c0,0.006,0,0.006,0,0.006h-1.657c0,0,0,0,0-0.006v-1.371
                    c0.262,0.067,0.542,0.104,0.829,0.104c0.286,0,0.567-0.037,0.829-0.104V250.637z M260.058,248.425
                    c-0.11,0.061-0.219,0.11-0.341,0.152c-0.049,0.024-0.104,0.043-0.152,0.055c-0.262,0.085-0.542,0.128-0.829,0.128
                    c-0.286,0-0.567-0.043-0.829-0.128c-0.049-0.012-0.104-0.03-0.152-0.055c-0.122-0.043-0.232-0.091-0.341-0.152
                    c-0.847-0.457-1.42-1.34-1.42-2.352c0-1.481,1.225-2.687,2.742-2.687c1.517,0,2.742,1.206,2.742,2.687
                    C261.478,247.084,260.905,247.968,260.058,248.425z"/>
                <path class="st4" d="M262.703,254.354h-8.537c-0.676,0-1.219,0.548-1.219,1.219c0,0.676,0.548,1.219,1.219,1.219h8.537
                    c0.67,0,1.213-0.548,1.213-1.219C263.915,254.896,263.373,254.354,262.703,254.354z M253.557,255.572
                    c0-0.335,0.274-0.609,0.609-0.609h0.609l-0.609,1.219C253.825,256.182,253.557,255.914,253.557,255.572z M254.775,256.182
                    l0.609-1.219h1.219l-0.609,1.219H254.775z M256.603,256.182l0.609-1.219h1.219l-0.609,1.219H256.603z M258.431,256.182
                    l0.609-1.219h1.219l-0.609,1.219H258.431z M262.703,256.182h-2.443l0.609-1.219h1.834c0.335,0,0.603,0.268,0.603,0.609
                    C263.306,255.907,263.038,256.182,262.703,256.182z"/>
                <path class="st4" d="M264.561,243.191l-1.596,0.92c-0.14,0.085-0.323,0.03-0.408-0.116c-0.079-0.14-0.037-0.329,0.104-0.414
                    l1.596-0.92c0.146-0.085,0.329-0.031,0.408,0.116C264.75,242.916,264.702,243.105,264.561,243.191z"/>
    </g>
    </g>
    <g id="Économie_d_x2019_énergie">
        <g>
            <path class="st4" d="M216,283.1h3.7v0.7h-2.8v2.1h2.4v0.7h-2.4v2.6h2.8v0.7H216V283.1z M218.5,281.1h1.2l-1.5,1.4h-0.7
            L218.5,281.1z"/>
            <path class="st4" d="M220.7,287.4c0-1.6,0.8-2.9,2.4-2.9c0.7,0,1,0.1,1.3,0.3v0.7c-0.3-0.2-0.7-0.3-1.2-0.3
            c-1.2,0-1.6,0.8-1.6,2.2c0,1.3,0.6,2,1.7,2c0.6,0,0.9-0.1,1.2-0.3v0.7c-0.3,0.2-0.8,0.3-1.4,0.3
            C221.7,290,220.7,289,220.7,287.4z"/>
            <path class="st4" d="M225.3,287.3c0-1.4,0.7-2.8,2.3-2.8s2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S225.3,288.8,225.3,287.3z
            M229.2,287.3c0-1-0.3-2.1-1.5-2.1s-1.5,1.1-1.5,2.1c0,1,0.3,2.1,1.5,2.1S229.2,288.3,229.2,287.3z"/>
            <path class="st4" d="M231.3,284.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
            c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8L231.3,284.6L231.3,284.6z"/>
            <path class="st4" d="M236.6,287.3c0-1.4,0.7-2.8,2.3-2.8s2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S236.6,288.8,236.6,287.3z
            M240.4,287.3c0-1-0.3-2.1-1.5-2.1s-1.5,1.1-1.5,2.1c0,1,0.3,2.1,1.5,2.1S240.4,288.3,240.4,287.3z"/>
            <path class="st4" d="M242.6,284.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c0.5,0,0.9,0.2,1.2,0.5c0.5-0.3,1-0.5,1.7-0.5
            c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4c-0.5,0-0.9,0.2-1.2,0.3c0,0.2,0.1,0.4,0.1,0.8v3.7h-0.8v-3.5
            c0-0.9-0.4-1.3-1.1-1.3c-0.4,0-0.8,0.2-1.1,0.4v4.4h-0.8L242.6,284.6L242.6,284.6z"/>
            <path class="st4" d="M251.1,283c0-0.3,0.3-0.6,0.6-0.6s0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6S251.1,283.3,251.1,283z
            M251.3,284.6h0.8v5.4h-0.8V284.6z"/>
            <path class="st4" d="M253.5,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
            c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C254.3,290,253.5,288.9,253.5,287.3z M254.3,286.6h2.7v-0.1
            c0-0.7-0.4-1.4-1.2-1.4C255.2,285.2,254.5,285.4,254.3,286.6z"/>
            <path class="st4" d="M261.3,287.3c0-1.6,0.9-2.8,2.5-2.8c0.5,0,0.9,0.1,1.1,0.2v-2.3h0.8v7.5h-0.8v-0.4
            c-0.2,0.2-0.7,0.5-1.3,0.5C262.1,290,261.3,289,261.3,287.3z M264.9,289v-3.6c-0.2-0.1-0.5-0.2-1-0.2c-1.1,0-1.7,0.8-1.7,2.1
            c0,1.1,0.4,2.1,1.6,2.1C264.2,289.3,264.6,289.2,264.9,289z"/>
            <path class="st4" d="M268.4,283.1c0,0.7-0.5,1.4-1,1.8l-0.4-0.3c0.4-0.4,0.5-0.7,0.5-1.4c0-0.3,0-0.5-0.1-0.7h0.9
            C268.3,282.7,268.4,282.9,268.4,283.1z"/>
            <path class="st4" d="M269.2,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4H270v0c0,1.2,0.5,2.1,1.7,2.1
            c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C270,290,269.2,288.9,269.2,287.3z M270,286.6h2.7v-0.1
            c0-0.7-0.4-1.4-1.2-1.4C270.9,285.2,270.2,285.4,270,286.6z M272.1,282.5h1.2l-1.5,1.4h-0.7L272.1,282.5z"/>
            <path class="st4" d="M274.8,284.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
            c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8V284.6z"/>
            <path class="st4" d="M280.1,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4H281v0c0,1.2,0.5,2.1,1.7,2.1
            c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C280.9,290,280.1,288.9,280.1,287.3z M281,286.6h2.7v-0.1
            c0-0.7-0.4-1.4-1.2-1.4C281.9,285.2,281.2,285.4,281,286.6z"/>
            <path class="st4" d="M285.8,284.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
            c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L285.8,284.6L285.8,284.6z"/>
            <path class="st4" d="M290.5,288.1c-0.2,0.1-0.3,0.3-0.3,0.5c0,0.3,0.1,0.4,0.5,0.4l1,0.1c1,0,1.8,0.4,1.8,1.4
            c0,1.1-1,1.6-2.4,1.6c-1.2,0-2.2-0.5-2.2-1.4c0-0.6,0.5-1,1-1.2c-0.2-0.1-0.4-0.4-0.4-0.7c0-0.4,0.3-0.7,0.6-0.8
            c-0.5-0.3-0.9-0.8-0.9-1.5c0-1,0.8-1.8,2-1.8c0.2,0,0.4,0,0.6,0.1h1.9v0.7h-0.8c0.2,0.3,0.4,0.6,0.4,1.1c0,1-0.7,1.8-2,1.8
            C290.9,288.1,290.7,288.1,290.5,288.1z M292.6,290.4c0-0.5-0.3-0.7-1.3-0.8c-0.4,0-0.7,0-0.9,0c-0.3,0.2-0.8,0.4-0.8,0.9
            c0,0.6,0.6,0.8,1.4,0.8C292.1,291.4,292.6,291,292.6,290.4z M292.2,286.3c0-0.6-0.4-1.2-1.2-1.2c-0.8,0-1.2,0.6-1.2,1.2
            c0,0.6,0.4,1.2,1.2,1.2C291.9,287.5,292.2,287,292.2,286.3z"/>
            <path class="st4" d="M294.7,283c0-0.3,0.3-0.6,0.6-0.6s0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6S294.7,283.3,294.7,283z
            M294.8,284.6h0.8v5.4h-0.8V284.6z"/>
            <path class="st4" d="M297,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
            c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C297.9,290,297,288.9,297,287.3z M297.9,286.6h2.7v-0.1
            c0-0.7-0.4-1.4-1.2-1.4C298.8,285.2,298.1,285.4,297.9,286.6z"/>
        </g>
    </g></a>
</g>
<g id="bois_1_">
    <a xlink:href="<%= category_path('bois') %>">
        <g id="img_14_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_8_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_7_" x="201.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.2299 212.463)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_8_">
                        <use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st7">

                       <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_5_" xlink:href="<%= asset_path "svg/FD9D50AD418C6387.png" %>"  transform="matrix(0.504 0 0 0.504 176.5196 19.0739)">
                       </image>
                   </g>
               </g>
           </g>
       </g>
       <g id="picto_14_">
        <g id="Ellipse_10_3_" class="st3">
            <g>
                <circle cx="258.7" cy="86.2" r="16.8"/>
            </g>
        </g>
        <path class="st4" d="M262.184,89.152c0,0.187-0.153,0.347-0.347,0.347h-5.541c-0.194,0-0.347-0.159-0.347-0.347
                    c0-0.194,0.153-0.347,0.347-0.347h5.541C262.031,88.806,262.184,88.958,262.184,89.152z"/>
                <path class="st4" d="M263.807,88.806h1.914c0.194,0,0.347,0.153,0.347,0.347c0,0.187-0.153,0.347-0.347,0.347h-1.914
                    c-0.187,0-0.347-0.159-0.347-0.347C263.46,88.958,263.619,88.806,263.807,88.806z"/>
                <path class="st4" d="M252.247,82.169c-0.874,0-1.373,1.72-1.373,3.87c0,2.15,0.499,3.869,1.373,3.869s1.373-1.72,1.373-3.869
                    C253.62,83.889,253.12,82.169,252.247,82.169z M252.247,89.215c-0.264,0-0.68-1.436-0.68-3.176c0-1.741,0.416-3.176,0.68-3.176
                    s0.68,1.435,0.68,3.176C252.926,87.779,252.51,89.215,252.247,89.215z M261.165,82.564h-6.574c-0.062,0-0.118,0.014-0.166,0.042
                    c0.083,0.208,0.159,0.423,0.222,0.652h6.518c0.194,0,0.347-0.159,0.347-0.347C261.511,82.717,261.359,82.564,261.165,82.564z
                     M260.811,85.338h-5.818c0.021,0.229,0.028,0.458,0.028,0.693h5.79c0.194,0,0.347-0.159,0.347-0.347
                    C261.158,85.491,261.005,85.338,260.811,85.338z M252.247,82.169c-0.874,0-1.373,1.72-1.373,3.87
                    c0,2.15,0.499,3.869,1.373,3.869s1.373-1.72,1.373-3.869C253.62,83.889,253.12,82.169,252.247,82.169z M252.247,89.215
                    c-0.264,0-0.68-1.436-0.68-3.176c0-1.741,0.416-3.176,0.68-3.176s0.68,1.435,0.68,3.176
                    C252.926,87.779,252.51,89.215,252.247,89.215z M265.221,80.581h-12.975c-1.602,0-2.774,2.469-2.774,5.458
                    c0,2.989,1.172,5.457,2.774,5.457h12.975c1.602,0,2.774-2.469,2.774-5.457C267.995,83.05,266.823,80.581,265.221,80.581z
                     M250.166,86.039c0-2.656,0.999-4.764,2.08-4.764c1.082,0,2.08,2.108,2.08,4.764c0,2.656-0.999,4.764-2.08,4.764
                    C251.165,90.803,250.166,88.695,250.166,86.039z M267.302,86.039c0,2.656-1.006,4.764-2.08,4.764h-11.595
                    c0.853-0.936,1.394-2.732,1.394-4.764v-0.007h5.79c0.194,0,0.347-0.159,0.347-0.347c0-0.194-0.153-0.347-0.347-0.347h-5.818
                    c-0.042-0.749-0.16-1.456-0.347-2.08h6.518c0.194,0,0.347-0.159,0.347-0.347c0-0.194-0.153-0.347-0.347-0.347h-6.574
                    c-0.062,0-0.118,0.014-0.166,0.042c-0.222-0.541-0.492-0.992-0.798-1.331h11.595c0.513,0,1.019,0.485,1.394,1.29h-3.544
                    c-0.194,0-0.347,0.153-0.347,0.347c0,0.187,0.153,0.347,0.347,0.347h3.821c0.194,0.603,0.333,1.311,0.381,2.08h-2.302
                    c-0.187,0-0.347,0.153-0.347,0.347c0,0.187,0.16,0.347,0.347,0.347h2.33V86.039z M252.247,82.169
                    c-0.874,0-1.373,1.72-1.373,3.87c0,2.15,0.499,3.869,1.373,3.869s1.373-1.72,1.373-3.869
                    C253.62,83.889,253.12,82.169,252.247,82.169z M252.247,89.215c-0.264,0-0.68-1.436-0.68-3.176c0-1.741,0.416-3.176,0.68-3.176
                    s0.68,1.435,0.68,3.176C252.926,87.779,252.51,89.215,252.247,89.215z M260.811,85.338h-5.818
                    c0.021,0.229,0.028,0.458,0.028,0.693h5.79c0.194,0,0.347-0.159,0.347-0.347C261.158,85.491,261.005,85.338,260.811,85.338z
                     M261.165,82.564h-6.574c-0.062,0-0.118,0.014-0.166,0.042c0.083,0.208,0.159,0.423,0.222,0.652h6.518
                    c0.194,0,0.347-0.159,0.347-0.347C261.511,82.717,261.359,82.564,261.165,82.564z"/>
    </g>
    <g id="Bois">
        <g>
            <path class="st4" d="M250.1,121.1h2.1c1.4,0,2.1,0.7,2.1,1.7c0,0.8-0.6,1.3-1.1,1.5v0c0.8,0.1,1.4,0.7,1.4,1.7
            c0,1.1-0.8,2-2.2,2h-2.2V121.1z M250.9,124h1.2c0.9,0,1.3-0.4,1.3-1.2c0-0.6-0.4-1.1-1.3-1.1h-1.2V124z M250.9,127.3h1.3
            c0.9,0,1.4-0.4,1.4-1.2c0-0.8-0.4-1.3-1.4-1.3h-1.3V127.3z"/>
            <path class="st4" d="M255.6,125.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S255.6,126.8,255.6,125.3z
            M259.5,125.3c0-1-0.3-2.1-1.5-2.1s-1.5,1.1-1.5,2.1s0.3,2.1,1.5,2.1C259.2,127.4,259.5,126.3,259.5,125.3z"/>
            <path class="st4" d="M261.5,121c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6s-0.3,0.6-0.6,0.6
            C261.8,121.5,261.5,121.3,261.5,121z M261.7,122.6h0.8v5.4h-0.8V122.6z"/>
            <path class="st4" d="M263.9,127.7V127c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
            c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
            c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C264.9,128,264.3,127.9,263.9,127.7z"/>
        </g>
    </g></a>
</g>
<g id="portes__x26__fenetres_1_">
    <a xlink:href="<%= category_path('portes-fenetres') %>">
        <g id="img_13_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_10_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_9_" x="282.8" y="125.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -29.3218 293.4623)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_10_">
                        <use xlink:href="#SVGID_9_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st8">

                        <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_4_" xlink:href="<%= asset_path "svg/FD9D50AD418C6397.png" %>"  transform="matrix(0.5152 0 0 0.5152 256.9148 99.4409)">
                        </image>
                    </g>
                </g>
            </g>
        </g>
        <g id="picto_13_">
            <g id="Ellipse_10_4_" class="st3">
                <g>
                    <circle cx="339.7" cy="167.2" r="16.8"/>
                </g>
            </g>
           <path class="st4" d="M334.512,165.757c-0.504,0-0.91,0.406-0.91,0.91s0.406,0.91,0.91,0.91c0.504,0,0.91-0.406,0.91-0.91
                    S335.016,165.757,334.512,165.757z M334.512,166.97c-0.17,0-0.303-0.133-0.303-0.303s0.133-0.303,0.303-0.303
                    s0.303,0.133,0.303,0.303S334.682,166.97,334.512,166.97z"/>
                <path class="st4" d="M340.579,171.52h-0.607v-7.887c0-2.014-1.632-3.64-3.64-3.64s-3.64,1.632-3.64,3.64v7.887h-0.607
                    c-0.34,0-0.607,0.273-0.607,0.607v0.607c0,0.34,0.273,0.607,0.607,0.607h8.494c0.34,0,0.607-0.273,0.607-0.607v-0.607
                    C341.186,171.787,340.913,171.52,340.579,171.52z M333.299,163.633c0-1.674,1.359-3.033,3.033-3.033
                    c1.681,0,3.033,1.353,3.033,3.033v7.887h-6.067V163.633z M340.579,172.733h-8.494v-0.607h8.494V172.733z"/>
                <path class="st4" d="M347.253,166.06v-5.46c0-0.34-0.273-0.607-0.607-0.607h-4.247c-0.334,0-0.607,0.273-0.607,0.607v5.46
                    c-0.34,0-0.607,0.273-0.607,0.607v0.607c0,0.34,0.273,0.607,0.607,0.607h5.46c0.34,0,0.607-0.273,0.607-0.607v-0.607
                    C347.859,166.327,347.586,166.06,347.253,166.06z M346.646,166.06h-1.82v-2.427h1.82V166.06z M346.646,160.6v2.427h-1.82V160.6
                    H346.646z M342.399,160.6h1.82v2.427h-1.82V160.6z M342.399,163.633h1.82v2.427h-1.82V163.633z M347.253,167.273h-5.46v-0.607
                    h5.46V167.273z"/>
        </g>
        <g id="Portes__x26__fenêtres">
            <g>
                <path class="st4" d="M302.5,202.1h2.2c1.3,0,2,0.8,2,2.1c0,1.1-0.7,2.1-2,2.1h-1.3v2.7h-0.8V202.1z M303.3,205.6h1.1
                c0.9,0,1.4-0.6,1.4-1.4c0-0.8-0.4-1.4-1.4-1.4h-1.1V205.6z"/>
                <path class="st4" d="M307.4,206.3c0-1.4,0.7-2.8,2.3-2.8s2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S307.4,207.8,307.4,206.3z
                M311.3,206.3c0-1-0.3-2.1-1.5-2.1s-1.5,1.1-1.5,2.1c0,1,0.3,2.1,1.5,2.1S311.3,207.3,311.3,206.3z"/>
                <path class="st4" d="M313.4,203.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L313.4,203.6L313.4,203.6z"/>
                <path class="st4" d="M316.5,203.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6H318v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3h-0.7V203.6z"/>
                <path class="st4" d="M320.1,206.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4H321v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C321,209,320.1,207.9,320.1,206.3z M321,205.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C321.9,204.2,321.2,204.4,321,205.6z"/>
                <path class="st4" d="M325.4,208.7V208c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C326.4,209,325.8,208.9,325.4,208.7z"/>
                <path class="st4" d="M332.3,207.2c0-0.8,0.5-1.4,1.5-1.9c-0.6-0.7-0.9-1.1-0.9-1.7c0-1,0.8-1.6,1.8-1.6c1,0,1.7,0.6,1.7,1.5
                c0,0.8-0.5,1.2-1.6,1.9l1.8,1.9c0.3-0.5,0.5-1,0.6-1.6l0.7,0.1c-0.1,0.7-0.4,1.4-0.9,2c0.4,0.4,0.7,0.6,1,0.6
                c0.1,0,0.2,0,0.3-0.1v0.6c-0.1,0.1-0.3,0.1-0.5,0.1c-0.5,0-0.8-0.3-1.3-0.8c-0.5,0.5-1.2,0.8-2,0.8
                C333.2,209,332.3,208.2,332.3,207.2z M336.1,207.8l-1.9-2.1c-0.7,0.4-1.1,0.8-1.1,1.5c0,0.7,0.5,1.2,1.5,1.2
                C335.3,208.3,335.8,208.1,336.1,207.8z M334.5,204.9c0.8-0.5,1.2-0.9,1.2-1.4c0-0.5-0.4-0.9-1-0.9c-0.6,0-1,0.4-1,0.9
                C333.7,204,333.9,204.3,334.5,204.9z"/>
                <path class="st4" d="M341.5,203.6h0.9V203c0-1.1,0.6-1.6,1.6-1.6c0.3,0,0.6,0.1,0.7,0.1v0.7c-0.1,0-0.3-0.1-0.5-0.1
                c-0.6,0-0.9,0.2-0.9,0.9v0.6h1.3v0.6h-1.3v4.7h-0.8v-4.7h-0.9V203.6z"/>
                <path class="st4" d="M345,206.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C345.9,209,345,207.9,345,206.3z M345.9,205.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C346.8,204.2,346.1,204.4,345.9,205.6z"/>
                <path class="st4" d="M350.7,203.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
                c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8V203.6z"/>
                <path class="st4" d="M356,206.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C356.8,209,356,207.9,356,206.3z M358,201.2h0.6l1.3,1.6h-0.7l-0.9-0.9
                l-0.9,0.9h-0.7L358,201.2z M356.9,205.6h2.7v-0.1c0-0.7-0.4-1.4-1.2-1.4C357.7,204.2,357,204.4,356.9,205.6z"/>
                <path class="st4" d="M361,203.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6h-1.2v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3H361V203.6z"/>
                <path class="st4" d="M365.1,203.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L365.1,203.6L365.1,203.6z"/>
                <path class="st4" d="M368.2,206.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C369.1,209,368.2,207.9,368.2,206.3z M369.1,205.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C370,204.2,369.3,204.4,369.1,205.6z"/>
                <path class="st4" d="M373.5,208.7V208c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C374.5,209,373.9,208.9,373.5,208.7z"/>
            </g>
        </g>
    </a>
</g>
<g id="Gros_oeuvres_1_">
    <a xlink:href="<%= category_path('gros-oeuvre') %>">
        <g id="img_12_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_12_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_11_" x="363.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 51.6776 327.0139)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_12_">
                        <use xlink:href="#SVGID_11_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st9">

                        <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_3_" xlink:href="<%= asset_path "svg/FD9D50AD418C6399.png" %>"  transform="matrix(0.4984 0 0 0.4984 340.1817 20.2094)">
                        </image>
                    </g>
                </g>
            </g>
        </g>
        <g id="picto_12_">
            <g id="Ellipse_10_5_" class="st3">
                <g>
                    <circle cx="420.7" cy="86.2" r="16.8"/>
                </g>
            </g>
            <path class="st4" d="M419.751,84.136h-5.841c-0.363,0-0.649,0.285-0.649,0.642v2.609c0,0.35,0.292,0.642,0.649,0.642h5.841
                    c0.363,0,0.649-0.285,0.649-0.642v-2.609C420.4,84.428,420.108,84.136,419.751,84.136z M419.751,87.381h-5.841v-2.596h5.841
                    V87.381z"/>
                <path class="st4" d="M423.644,79.594h-5.841c-0.363,0-0.649,0.285-0.649,0.642v2.609c0,0.35,0.292,0.642,0.649,0.642h5.841
                    c0.363,0,0.649-0.285,0.649-0.642v-2.609C424.293,79.886,424.001,79.594,423.644,79.594z M423.644,82.838h-5.841v-2.596h5.841
                    V82.838z"/>
                <path class="st4" d="M423.644,88.679h-5.841c-0.363,0-0.649,0.285-0.649,0.642v2.609c0,0.35,0.292,0.642,0.649,0.642h5.841
                    c0.363,0,0.649-0.285,0.649-0.642v-2.609C424.293,88.971,424.001,88.679,423.644,88.679z M423.644,91.924h-5.841v-2.596h5.841
                    V91.924z"/>
                <path class="st4" d="M427.538,84.136h-5.841c-0.363,0-0.649,0.285-0.649,0.642v2.609c0,0.35,0.292,0.642,0.649,0.642h5.841
                    c0.363,0,0.649-0.285,0.649-0.642v-2.609C428.187,84.428,427.895,84.136,427.538,84.136z M427.538,87.381h-5.841v-2.596h5.841
                    V87.381z"/>
        </g>
        <g id="Gros_oeuvres_2_">
            <g>
                <path class="st4" d="M392.4,124.6c0-2,1.1-3.6,3.3-3.6c0.9,0,1.3,0.2,1.6,0.3v0.7c-0.4-0.2-0.9-0.4-1.6-0.4
                c-1.7,0-2.4,1.2-2.4,2.9c0,1.8,0.9,2.7,2.4,2.7c0.5,0,0.8-0.1,1.1-0.2v-2h-1.2v-0.7h2v3.2c-0.5,0.2-1,0.4-2,0.4
                C393.6,128,392.4,126.8,392.4,124.6z"/>
                <path class="st4" d="M399.3,122.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L399.3,122.6L399.3,122.6z"/>
                <path class="st4" d="M402.5,125.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S402.5,126.8,402.5,125.3z
                M406.3,125.3c0-1-0.3-2.1-1.5-2.1c-1.2,0-1.5,1.1-1.5,2.1s0.3,2.1,1.5,2.1C406,127.4,406.3,126.3,406.3,125.3z"/>
                <path class="st4" d="M408,127.7V127c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C409,128,408.4,127.9,408,127.7z"/>
                <path class="st4" d="M415,125.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S415,126.8,415,125.3z
                M418.8,125.3c0-1-0.3-2.1-1.5-2.1c-1.2,0-1.5,1.1-1.5,2.1s0.3,2.1,1.5,2.1C418.5,127.4,418.8,126.3,418.8,125.3z"/>
                <path class="st4" d="M420.5,125.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C421.4,128,420.5,126.9,420.5,125.3z M421.4,124.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C422.3,123.2,421.6,123.4,421.4,124.6z"/>
                <path class="st4" d="M426.2,126.1v-3.5h0.8v3.4c0,0.8,0.2,1.4,1.2,1.4c0.5,0,0.9-0.2,1.2-0.4v-4.4h0.8v5.4h-0.8v-0.4
                c-0.3,0.2-0.8,0.5-1.5,0.5C426.6,128,426.2,127.2,426.2,126.1z"/>
                <path class="st4" d="M431.2,122.6h0.9l1.5,4.4l1.4-4.4h0.8l-1.9,5.4h-0.8L431.2,122.6z"/>
                <path class="st4" d="M436.8,122.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L436.8,122.6L436.8,122.6z"/>
                <path class="st4" d="M440,125.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C440.8,128,440,126.9,440,125.3z M440.9,124.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C441.7,123.2,441,123.4,440.9,124.6z"/>
                <path class="st4" d="M445.2,127.7V127c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C446.2,128,445.6,127.9,445.2,127.7z"/>
            </g>
        </g>
    </a>
</g>
<g id="Prod_énergie_verte_1_">
    <a xlink:href="<%= category_path('production-energie-verte') %>">
        <g id="img_11_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_14_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_13_" x="363.8" y="206.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -62.8733 374.4615)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_14_">
                        <use xlink:href="#SVGID_13_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st10">

                        <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_2_" xlink:href="<%= asset_path "svg/FD9D50AD418C639B.png" %>"  transform="matrix(0.5154 0 0 0.5154 335.9303 178.4564)">
                        </image>
                    </g>
                </g>
            </g>
        </g>
        <g id="picto_11_">
            <g id="Ellipse_10_6_" class="st3">
                <g>
                    <circle cx="420.6" cy="248.2" r="16.8"/>
                </g>
            </g>
            <path class="st4" d="M421.339,249.995c-0.107-0.136-0.229-0.236-0.358-0.294v-1.733c1.067,0.029,1.984-0.308,2.636-0.953
                    c0.673-0.673,1.003-1.64,0.938-2.779l-0.014-0.315l-0.322-0.022c-1.139-0.064-2.113,0.265-2.786,0.938
                    c-0.172,0.179-0.329,0.372-0.451,0.595v-0.924h0.007l0.014-0.322c0.072-1.318-0.308-2.442-1.082-3.216
                    c-0.773-0.774-1.898-1.153-3.216-1.082l-0.315,0.021l-0.021,0.315c-0.072,1.311,0.315,2.435,1.089,3.209
                    c0.695,0.695,1.669,1.074,2.808,1.096v5.171c-0.129,0.057-0.251,0.158-0.358,0.294l-2.364,3.151
                    c-0.415,0.552-0.115,1.146,0.573,1.146h0.716v1.432c0,0.2,0.158,0.358,0.358,0.358c0.193,0,0.358-0.158,0.358-0.358v-1.432
                    h2.149v1.432c0,0.2,0.158,0.358,0.358,0.358c0.193,0,0.358-0.158,0.358-0.358v-1.432h0.716c0.695,0,0.988-0.595,0.573-1.146
                    L421.339,249.995z M421.941,245.346c0.458-0.458,1.11-0.716,1.898-0.731c-0.014,0.788-0.272,1.432-0.731,1.898
                    c-0.458,0.458-1.11,0.716-1.898,0.731C421.232,246.456,421.489,245.797,421.941,245.346z M417.966,242.932
                    c-0.566-0.566-0.874-1.361-0.888-2.335c0.974,0.007,1.776,0.315,2.342,0.881c0.559,0.566,0.867,1.361,0.874,2.335
                    C419.326,243.806,418.531,243.498,417.966,242.932z M418.116,253.576l2.364-3.152c0.029-0.036,0.057-0.065,0.086-0.079
                    c0.014,0.007,0.036,0.007,0.057,0.007c0.021,0,0.036,0,0.057-0.007c0.029,0.014,0.057,0.043,0.086,0.079l2.364,3.152H418.116z"
                    />
        </g>
        <g id="Production_d_x2019_énergie_x0D_verte">
            <g>
                <path class="st4" d="M375.6,283.1h2.2c1.3,0,2,0.8,2,2.1c0,1.1-0.7,2.1-2,2.1h-1.3v2.7h-0.8L375.6,283.1L375.6,283.1z
                M376.5,286.6h1.1c0.9,0,1.4-0.6,1.4-1.4c0-0.8-0.4-1.4-1.4-1.4h-1.1V286.6z"/>
                <path class="st4" d="M381,284.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2H381L381,284.6L381,284.6z"/>
                <path class="st4" d="M384.2,287.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S384.2,288.8,384.2,287.3z
                M388,287.3c0-1-0.3-2.1-1.5-2.1c-1.2,0-1.5,1.1-1.5,2.1c0,1,0.3,2.1,1.5,2.1C387.7,289.4,388,288.3,388,287.3z"/>
                <path class="st4" d="M389.7,287.3c0-1.6,0.9-2.8,2.5-2.8c0.5,0,0.9,0.1,1.1,0.2v-2.3h0.8v7.5h-0.8v-0.4
                c-0.2,0.2-0.7,0.5-1.3,0.5C390.5,290,389.7,289,389.7,287.3z M393.2,289v-3.6c-0.2-0.1-0.5-0.2-1-0.2c-1.1,0-1.7,0.8-1.7,2.1
                c0,1.1,0.4,2.1,1.6,2.1C392.6,289.3,393,289.2,393.2,289z"/>
                <path class="st4" d="M395.7,288.1v-3.5h0.8v3.4c0,0.8,0.2,1.4,1.2,1.4c0.5,0,0.9-0.2,1.2-0.4v-4.4h0.8v5.4H399v-0.4
                c-0.3,0.2-0.8,0.5-1.5,0.5C396.2,290,395.7,289.2,395.7,288.1z"/>
                <path class="st4" d="M401.1,287.4c0-1.6,0.8-2.9,2.4-2.9c0.7,0,1,0.1,1.3,0.3v0.7c-0.3-0.2-0.7-0.3-1.2-0.3
                c-1.2,0-1.6,0.8-1.6,2.2c0,1.3,0.6,2,1.7,2c0.6,0,0.9-0.1,1.2-0.3v0.7c-0.3,0.2-0.8,0.3-1.4,0.3C402,290,401.1,289,401.1,287.4z
                "/>
                <path class="st4" d="M405.5,284.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6H407v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3h-0.7V284.6z"/>
                <path class="st4" d="M409.5,283c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6
                C409.7,283.5,409.5,283.3,409.5,283z M409.6,284.6h0.8v5.4h-0.8V284.6z"/>
                <path class="st4" d="M411.8,287.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S411.8,288.8,411.8,287.3z
                M415.7,287.3c0-1-0.3-2.1-1.5-2.1c-1.2,0-1.5,1.1-1.5,2.1c0,1,0.3,2.1,1.5,2.1C415.4,289.4,415.7,288.3,415.7,287.3z"/>
                <path class="st4" d="M417.8,284.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5H421v-3.4c0-0.8-0.2-1.4-1.2-1.4
                c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8V284.6z"/>
                <path class="st4" d="M425.7,287.3c0-1.6,0.9-2.8,2.5-2.8c0.5,0,0.9,0.1,1.1,0.2v-2.3h0.8v7.5h-0.8v-0.4
                c-0.2,0.2-0.7,0.5-1.3,0.5C426.5,290,425.7,289,425.7,287.3z M429.3,289v-3.6c-0.2-0.1-0.5-0.2-1-0.2c-1.1,0-1.7,0.8-1.7,2.1
                c0,1.1,0.4,2.1,1.6,2.1C428.6,289.3,429,289.2,429.3,289z"/>
                <path class="st4" d="M432.7,283.1c0,0.7-0.5,1.4-1,1.8l-0.4-0.3c0.4-0.4,0.5-0.7,0.5-1.4c0-0.3,0-0.5-0.1-0.7h0.9
                C432.7,282.7,432.7,282.9,432.7,283.1z"/>
                <path class="st4" d="M433.5,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C434.4,290,433.5,288.9,433.5,287.3z M434.4,286.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C435.3,285.2,434.6,285.4,434.4,286.6z M436.5,282.5h1.2l-1.5,1.4h-0.7L436.5,282.5z"/>
                <path class="st4" d="M439.2,284.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
                c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8V284.6z"/>
                <path class="st4" d="M444.5,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C445.3,290,444.5,288.9,444.5,287.3z M445.4,286.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C446.2,285.2,445.6,285.4,445.4,286.6z"/>
                <path class="st4" d="M450.1,284.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L450.1,284.6L450.1,284.6z"/>
                <path class="st4" d="M454.8,288.1c-0.2,0.1-0.3,0.3-0.3,0.5c0,0.3,0.1,0.4,0.5,0.4l1,0.1c1,0,1.8,0.4,1.8,1.4
                c0,1.1-1,1.6-2.4,1.6c-1.2,0-2.2-0.5-2.2-1.4c0-0.6,0.5-1,1-1.2c-0.2-0.1-0.4-0.4-0.4-0.7c0-0.4,0.3-0.7,0.6-0.8
                c-0.5-0.3-0.9-0.8-0.9-1.5c0-1,0.8-1.8,2-1.8c0.2,0,0.4,0,0.6,0.1h1.9v0.7h-0.8c0.2,0.3,0.4,0.6,0.4,1.1c0,1-0.7,1.8-2,1.8
                C455.2,288.1,455,288.1,454.8,288.1z M456.9,290.4c0-0.5-0.3-0.7-1.3-0.8c-0.4,0-0.7,0-0.9,0c-0.3,0.2-0.8,0.4-0.8,0.9
                c0,0.6,0.6,0.8,1.4,0.8C456.5,291.4,456.9,291,456.9,290.4z M456.6,286.3c0-0.6-0.4-1.2-1.2-1.2c-0.8,0-1.2,0.6-1.2,1.2
                c0,0.6,0.4,1.2,1.2,1.2C456.3,287.5,456.6,287,456.6,286.3z"/>
                <path class="st4" d="M459.1,283c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6c0,0.3-0.3,0.6-0.6,0.6
                C459.3,283.5,459.1,283.3,459.1,283z M459.2,284.6h0.8v5.4h-0.8V284.6z"/>
                <path class="st4" d="M461.4,287.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C462.2,290,461.4,288.9,461.4,287.3z M462.3,286.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C463.2,285.2,462.5,285.4,462.3,286.6z"/>
                <path class="st4" d="M409.3,296.6h0.9l1.5,4.4l1.4-4.4h0.8L412,302h-0.8L409.3,296.6z"/>
                <path class="st4" d="M414.5,299.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C415.3,302,414.5,300.9,414.5,299.3z M415.4,298.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C416.3,297.2,415.6,297.4,415.4,298.6z"/>
                <path class="st4" d="M420.2,296.6h0.8v0.6c0.3-0.4,0.7-0.6,1.3-0.6c0.1,0,0.3,0,0.5,0.1v0.8c-0.1,0-0.3-0.1-0.5-0.1
                c-0.7,0-1,0.2-1.3,0.5v4.2h-0.8L420.2,296.6L420.2,296.6z"/>
                <path class="st4" d="M423.3,296.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6h-1.2v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3h-0.7V296.6z"/>
                <path class="st4" d="M426.9,299.3c0-1.6,0.9-2.8,2.4-2.8s2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
                c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C427.7,302,426.9,300.9,426.9,299.3z M427.8,298.6h2.7v-0.1
                c0-0.7-0.4-1.4-1.2-1.4C428.7,297.2,428,297.4,427.8,298.6z"/>
            </g>
        </g>
    </a>
</g>
<g id="Chauffage_1_">
    <a xlink:href="<%= category_path('chauffage') %>">
        <g id="img_10_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_16_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_15_" x="444.8" y="125.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 18.1258 408.0132)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_16_">
                        <use xlink:href="#SVGID_15_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st11">

                       <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_1_" xlink:href="<%= asset_path "svg/A7BCA90A794A6328.png" %>"  transform="matrix(0.5077 0 0 0.5077 419.4312 99.9573)">
                       </image>
                   </g>
               </g>
           </g>
       </g>
       <g id="picto_10_">
        <g id="Ellipse_10_7_" class="st3">
            <g>
                <circle cx="501.7" cy="167.2" r="16.8"/>
            </g>
        </g>
        <path class="st4" d="M494.209,165.829c0-0.366,0.289-0.663,0.661-0.663h13.831c0.365,0,0.661,0.296,0.661,0.663v7.896
                    c0,0.366-0.289,0.663-0.661,0.663H494.87c-0.365,0-0.661-0.296-0.661-0.663V165.829z M494.868,165.829L494.868,165.829v7.896
                    c0,0.003,0.001,0.005,0.002,0.005h13.831c0.004,0,0.002,0.002,0.002-0.005v-7.896c0-0.003-0.001-0.005-0.002-0.005H494.87
                    C494.866,165.824,494.868,165.822,494.868,165.829z"/>
                <path class="st12" d="M495.527,171.424c0-0.182,0.151-0.329,0.33-0.329h7.246c0.182,0,0.33,0.153,0.33,0.329
                    c0,0.182-0.151,0.329-0.33,0.329h-7.246C495.675,171.753,495.527,171.601,495.527,171.424z"/>
                <path class="st12" d="M495.527,172.742c0-0.182,0.151-0.329,0.33-0.329h7.246c0.182,0,0.33,0.153,0.33,0.329
                    c0,0.182-0.151,0.329-0.33,0.329h-7.246C495.675,173.071,495.527,172.918,495.527,172.742z"/>
                <path class="st12" d="M495.527,170.106c0-0.182,0.151-0.329,0.33-0.329h7.246c0.182,0,0.33,0.153,0.33,0.329
                    c0,0.182-0.151,0.329-0.33,0.329h-7.246C495.675,170.436,495.527,170.283,495.527,170.106z"/>
                <path class="st4" d="M507.056,168.459L507.056,168.459c-0.546,0-0.988-0.442-0.988-0.988s0.442-0.988,0.988-0.988
                    c0.546,0,0.988,0.442,0.988,0.988S507.602,168.459,507.056,168.459z M507.056,167.801c0.182,0,0.329-0.147,0.329-0.329
                    c0-0.182-0.147-0.329-0.329-0.329c-0.182,0-0.329,0.147-0.329,0.329C506.726,167.653,506.874,167.801,507.056,167.801z"/>
                <path class="st4" d="M504.421,168.459L504.421,168.459c-0.546,0-0.988-0.442-0.988-0.988s0.442-0.988,0.988-0.988
                    c0.546,0,0.988,0.442,0.988,0.988S504.966,168.459,504.421,168.459z M504.421,167.801c0.182,0,0.329-0.147,0.329-0.329
                    c0-0.182-0.147-0.329-0.329-0.329s-0.329,0.147-0.329,0.329C504.091,167.653,504.239,167.801,504.421,167.801z"/>
                <path class="st4" d="M497.847,159.935c0.716,0.716,0.669,0.966,0.009,1.653c-0.007,0.008-0.007,0.008-0.015,0.015
                    c-0.857,0.891-0.977,1.522,0.006,2.504c0.129,0.129,0.337,0.129,0.466,0c0.129-0.129,0.129-0.337,0-0.466
                    c-0.679-0.679-0.634-0.919,0.003-1.582c0.007-0.008,0.007-0.008,0.015-0.015c0.88-0.915,1.001-1.556-0.018-2.575
                    c-0.129-0.129-0.337-0.129-0.466,0C497.719,159.598,497.719,159.807,497.847,159.935z"/>
                <path class="st4" d="M501.141,159.935c0.716,0.716,0.669,0.966,0.009,1.653c-0.007,0.008-0.007,0.008-0.015,0.015
                    c-0.857,0.891-0.977,1.522,0.006,2.504c0.129,0.129,0.337,0.129,0.466,0c0.129-0.129,0.129-0.337,0-0.466
                    c-0.679-0.679-0.634-0.919,0.003-1.582c0.007-0.008,0.007-0.008,0.015-0.015c0.88-0.915,1.001-1.556-0.018-2.575
                    c-0.129-0.129-0.337-0.129-0.466,0C501.013,159.598,501.013,159.807,501.141,159.935z"/>
                <path class="st4" d="M504.435,159.935c0.716,0.716,0.669,0.966,0.009,1.653c-0.007,0.008-0.007,0.008-0.015,0.015
                    c-0.857,0.891-0.977,1.522,0.006,2.504c0.129,0.129,0.337,0.129,0.466,0c0.129-0.129,0.129-0.337,0-0.466
                    c-0.679-0.679-0.634-0.919,0.003-1.582c0.007-0.008,0.007-0.008,0.015-0.015c0.88-0.915,1.001-1.556-0.018-2.575
                    c-0.129-0.129-0.337-0.129-0.466,0C504.307,159.598,504.307,159.807,504.435,159.935z"/>
        </g>
    </g>
    <g id="Chauffage_2_">
        <g>
            <path class="st4" d="M479.8,205.6c0-2,1-3.6,3.1-3.6c0.7,0,1.3,0.2,1.6,0.3v0.8c-0.3-0.2-0.8-0.3-1.5-0.3
            c-1.5,0-2.3,1.1-2.3,2.9c0,1.6,0.9,2.7,2.4,2.7c0.6,0,1.1-0.1,1.5-0.4v0.8c-0.5,0.2-1.1,0.3-1.7,0.3
            C481,209,479.8,207.7,479.8,205.6z"/>
            <path class="st4" d="M486,201.5h0.8v2.6c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
            c-0.5,0-0.9,0.2-1.2,0.4v4.4H486V201.5z"/>
            <path class="st4" d="M495.2,209c-0.4,0-0.7-0.2-0.8-0.6c-0.3,0.3-0.8,0.6-1.4,0.6c-1,0-1.7-0.6-1.7-1.5c0-1.1,0.9-1.6,2.4-1.6
            c0.2,0,0.4,0,0.6,0v-0.6c0-0.8-0.4-1.2-1.2-1.2c-0.6,0-1,0.2-1.3,0.3v-0.7c0.4-0.2,0.9-0.3,1.5-0.3c1.2,0,1.9,0.5,1.9,1.7v2.7
            c0,0.4,0.2,0.5,0.4,0.5c0.1,0,0.1,0,0.2,0v0.6C495.6,209,495.5,209,495.2,209z M493.8,206.5c-1,0-1.6,0.3-1.6,1
            c0,0.6,0.4,0.9,1,0.9c0.5,0,0.9-0.2,1.1-0.4v-1.4C494.2,206.5,494,206.5,493.8,206.5z"/>
            <path class="st4" d="M496.8,207.1v-3.5h0.8v3.4c0,0.8,0.2,1.4,1.2,1.4c0.5,0,0.9-0.2,1.2-0.4v-4.4h0.8v5.4H500v-0.4
            c-0.3,0.2-0.8,0.5-1.5,0.5C497.3,209,496.8,208.2,496.8,207.1z"/>
            <path class="st4" d="M505.6,204.2h-1.9v4.7h-0.8v-4.7H502v-0.6h0.9v-0.5c0-1.1,0.6-1.6,1.5-1.6c0.3,0,0.5,0.1,0.7,0.1v0.7
            c-0.1,0-0.3-0.1-0.5-0.1c-0.5,0-0.8,0.2-0.8,0.9v0.5h1.9V203c0-1.1,0.6-1.6,1.6-1.6c0.3,0,0.6,0.1,0.7,0.1v0.7
            c-0.1,0-0.3-0.1-0.5-0.1c-0.6,0-0.9,0.2-0.9,0.9v0.6h1.3v0.6h-1.3v4.7h-0.8L505.6,204.2L505.6,204.2z"/>
            <path class="st4" d="M512.2,209c-0.4,0-0.7-0.2-0.8-0.6c-0.3,0.3-0.8,0.6-1.4,0.6c-1,0-1.7-0.6-1.7-1.5c0-1.1,0.9-1.6,2.4-1.6
            c0.2,0,0.4,0,0.6,0v-0.6c0-0.8-0.4-1.2-1.2-1.2c-0.6,0-1,0.2-1.3,0.3v-0.7c0.4-0.2,0.9-0.3,1.5-0.3c1.2,0,1.9,0.5,1.9,1.7v2.7
            c0,0.4,0.2,0.5,0.4,0.5c0.1,0,0.1,0,0.2,0v0.6C512.6,209,512.5,209,512.2,209z M510.8,206.5c-1,0-1.6,0.3-1.6,1
            c0,0.6,0.4,0.9,1,0.9c0.5,0,0.9-0.2,1.1-0.4v-1.4C511.2,206.5,510.9,206.5,510.8,206.5z"/>
            <path class="st4" d="M514.9,207.1c-0.2,0.1-0.3,0.3-0.3,0.5c0,0.3,0.1,0.4,0.5,0.4l1,0.1c1,0,1.8,0.4,1.8,1.4
            c0,1.1-1,1.6-2.4,1.6c-1.2,0-2.2-0.5-2.2-1.4c0-0.6,0.5-1,1-1.2c-0.2-0.1-0.4-0.4-0.4-0.7c0-0.4,0.3-0.7,0.6-0.8
            c-0.5-0.3-0.9-0.8-0.9-1.5c0-1,0.8-1.8,2-1.8c0.2,0,0.4,0,0.6,0.1h1.9v0.7h-0.8c0.2,0.3,0.4,0.6,0.4,1.1c0,1-0.7,1.8-2,1.8
            C515.3,207.1,515.1,207.1,514.9,207.1z M517,209.4c0-0.5-0.3-0.7-1.3-0.8c-0.4,0-0.7,0-0.9,0c-0.3,0.2-0.8,0.4-0.8,0.9
            c0,0.6,0.6,0.8,1.4,0.8C516.6,210.4,517,210,517,209.4z M516.7,205.3c0-0.6-0.4-1.2-1.2-1.2c-0.8,0-1.2,0.6-1.2,1.2
            c0,0.6,0.4,1.2,1.2,1.2C516.4,206.5,516.7,206,516.7,205.3z"/>
            <path class="st4" d="M518.8,206.3c0-1.6,0.9-2.8,2.4-2.8c1.5,0,2,1.2,2,2.3c0,0.1,0,0.3,0,0.4h-3.5v0c0,1.2,0.5,2.1,1.7,2.1
            c0.6,0,1.1-0.1,1.5-0.3v0.7c-0.3,0.1-0.9,0.3-1.5,0.3C519.6,209,518.8,207.9,518.8,206.3z M519.7,205.6h2.7v-0.1
            c0-0.7-0.4-1.4-1.2-1.4C520.6,204.2,519.9,204.4,519.7,205.6z"/>
        </g>
    </g></a>
</g>
<g id="Isolation_1_">
    <a xlink:href="<%= category_path('isolation') %>">
        <g id="img_9_">
            <g id="Rectangle_31__x2B__Rectangle_28_copie_5_18_" class="st1">
                <g>
                    <defs>

                        <rect id="SVGID_17_" x="525.8" y="44.4" transform="matrix(0.7071 -0.7071 0.7071 0.7071 99.125 441.5648)" width="113.5" height="113.5"/>
                    </defs>
                    <clipPath id="SVGID_18_">
                        <use xlink:href="#SVGID_17_"  style="overflow:visible;"/>
                    </clipPath>
                    <g class="st12">

                        <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image" xlink:href="<%= asset_path "svg/A7BCA90A794A632F.png" %>"  transform="matrix(0.524 0 0 0.524 496.1821 17.9582)">
                        </image>
                    </g>
                </g>
            </g>
        </g>
        <g id="picto_9_">
            <g id="Ellipse_10_8_" class="st3">
                <g>
                    <circle cx="582.7" cy="86.2" r="16.8"/>
                </g>
            </g>
            <path class="st4" d="M591.042,91.474l-0.218-0.204l-0.007-0.007l-2.512-2.38c0.824-0.389,1.437-2.189,1.437-4.352
                    c0-2.446-0.791-4.431-1.774-4.431h-11.822c-0.982,0-1.774,1.985-1.774,4.431c0,2.163,0.613,3.963,1.431,4.352l0.152,0.152h0.007
                    l2.571,2.439c0.264,0.251,0.771,0.448,1.134,0.448h11.189C591.22,91.922,591.299,91.725,591.042,91.474z M587.969,80.76
                    c0.336,0,0.798,0.936,1.002,2.294h-7.503v0.593h7.576c0.026,0.283,0.04,0.58,0.04,0.883c0,2.116-0.666,3.778-1.114,3.778
                    h-10.892c0.343-0.527,0.607-1.332,0.738-2.294h7.2v-0.593h-7.127c0.02-0.29,0.033-0.587,0.033-0.89
                    c0-1.596-0.336-2.987-0.844-3.771H587.969z M576.148,88.309c-0.448,0-1.114-1.662-1.114-3.778c0-2.11,0.666-3.771,1.114-3.771
                    c0.204,0,0.448,0.343,0.659,0.91c0.257,0.686,0.455,1.708,0.455,2.861c0,1.16-0.198,2.182-0.455,2.868
                    C576.596,87.966,576.352,88.309,576.148,88.309z M579.668,91.263c-0.198,0-0.541-0.138-0.679-0.27l-2.07-1.958h10.187
                    c0.198,0,0.541,0.138,0.679,0.27l2.07,1.958H579.668z"/>
        </g>
        <g id="Isolation_2_">
            <g>
                <path class="st4" d="M564.5,121.1h0.9v6.9h-0.9V121.1z"/>
                <path class="st4" d="M566.9,127.7V127c0.3,0.2,0.9,0.3,1.4,0.3c0.8,0,1.2-0.3,1.2-0.9c0-0.6-0.4-0.7-1.2-1
                c-0.8-0.3-1.4-0.7-1.4-1.5c0-1,0.7-1.5,1.8-1.5c0.6,0,1.1,0.1,1.3,0.2v0.7c-0.3-0.1-0.8-0.3-1.3-0.3c-0.7,0-1,0.3-1,0.7
                c0,0.5,0.3,0.6,1,0.9c0.7,0.3,1.6,0.6,1.6,1.6c0,1-0.8,1.6-1.9,1.6C567.9,128,567.2,127.9,566.9,127.7z"/>
                <path class="st4" d="M571.2,125.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S571.2,126.8,571.2,125.3z
                M575,125.3c0-1-0.3-2.1-1.5-2.1c-1.2,0-1.5,1.1-1.5,2.1s0.3,2.1,1.5,2.1C574.8,127.4,575,126.3,575,125.3z"/>
                <path class="st4" d="M577.2,120.5h0.8v7.5h-0.8V120.5z"/>
                <path class="st4" d="M583.2,128c-0.4,0-0.7-0.2-0.8-0.6c-0.3,0.3-0.8,0.6-1.4,0.6c-1,0-1.7-0.6-1.7-1.5c0-1.1,0.9-1.6,2.4-1.6
                c0.2,0,0.4,0,0.6,0v-0.6c0-0.8-0.4-1.2-1.2-1.2c-0.6,0-1,0.2-1.3,0.3v-0.7c0.4-0.2,0.9-0.3,1.5-0.3c1.2,0,1.9,0.5,1.9,1.7v2.7
                c0,0.4,0.2,0.5,0.4,0.5c0.1,0,0.1,0,0.2,0v0.6C583.6,128,583.4,128,583.2,128z M581.8,125.5c-1,0-1.6,0.3-1.6,1
                c0,0.6,0.4,0.9,1,0.9c0.5,0,0.9-0.2,1.1-0.4v-1.4C582.1,125.5,581.9,125.5,581.8,125.5z"/>
                <path class="st4" d="M584.2,122.6h0.7l0.2-1.4h0.7v1.4h1.2v0.6h-1.2v3.2c0,0.6,0.2,0.9,0.8,0.9c0.3,0,0.5-0.1,0.7-0.1v0.7
                c-0.2,0.1-0.5,0.1-0.8,0.1c-0.9,0-1.4-0.4-1.4-1.5v-3.3h-0.7L584.2,122.6L584.2,122.6z"/>
                <path class="st4" d="M588.2,121c0-0.3,0.3-0.6,0.6-0.6c0.3,0,0.6,0.3,0.6,0.6s-0.3,0.6-0.6,0.6
                C588.4,121.5,588.2,121.3,588.2,121z M588.3,122.6h0.8v5.4h-0.8V122.6z"/>
                <path class="st4" d="M590.5,125.3c0-1.4,0.7-2.8,2.3-2.8c1.6,0,2.3,1.2,2.3,2.8c0,1.4-0.7,2.8-2.3,2.8S590.5,126.8,590.5,125.3z
                M594.4,125.3c0-1-0.3-2.1-1.5-2.1c-1.2,0-1.5,1.1-1.5,2.1s0.3,2.1,1.5,2.1C594.1,127.4,594.4,126.3,594.4,125.3z"/>
                <path class="st4" d="M596.5,122.6h0.8v0.4c0.3-0.2,0.8-0.5,1.5-0.5c1.3,0,1.7,0.8,1.7,1.9v3.5h-0.8v-3.4c0-0.8-0.2-1.4-1.2-1.4
                c-0.5,0-0.9,0.2-1.2,0.4v4.4h-0.8V122.6z"/>
            </g>
        </g>
    </a>
</g>
</g>
<g id="Calque_52_1_">
</g>
</svg>
