<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 649.5 329.5" style="enable-background:new 0 0 649.5 329.5;" xml:space="preserve">
<style type="text/css">
  .st0{enable-background:new    ;}
  .st1{opacity:0.251;}
  .st2{fill:#FFFFFF;}
  .st3{fill:#FFFFFF;stroke:#FFFFFF;stroke-width:0.0369;stroke-miterlimit:10;}
</style>
<g id="catégories_1_">
  <a xlink:href="<%= category_path('peinture-colles') %>"><g id="peinture__x26__colles_1_">
    <g id="img_17_">
      <g id="Rectangle_31__x2B__Rectangle_28_copie_5_2_" class="st0">
        <defs>
            <rect id="SVGID_1_" x="25.894" y="28.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -36.0139 83.3872)" class="st0" width="113.513" height="113.513"/>
        </defs>
        <clipPath id="SVGID_2_">
          <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
        </clipPath>
        <g style="clip-path:url(#SVGID_2_);">
          
            <image style="overflow:visible;" width="321" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_8_" xlink:href="<%= asset_path "svg/FD9D50AD418C638B.png" %>"  transform="matrix(0.5109 0 0 0.5081 1.6157 2.9662)">
          </image>
        </g>
      </g>
    </g>
    <g id="picto_17_">
      <g id="Ellipse_10" class="st1">
        <g>
          <circle cx="82.75" cy="70.25" r="16.75"/>
        </g>
      </g>
      <g id="Forma_1">
        <g>
          <path class="st2" d="M89.38,70.748l-7.141-7.619c-0.148-0.158-0.389-0.156-0.538,0.003l-0.811,0.866l-0.119-0.127
            c-0.148-0.158-0.389-0.156-0.538,0.003c-0.149,0.159-0.151,0.416-0.003,0.574l0.119,0.127l-0.811,0.866
            c-0.149,0.159-0.15,0.417-0.003,0.574l7.141,7.619c0.148,0.158,0.389,0.157,0.538-0.003l0.805-0.859
            c0.101,0.141,0.096,0.342-0.026,0.472l-1.261,1.346c-0.133,0.141-0.347,0.143-0.479,0.003l-1.126-1.201l-1.849-2.037
            l-0.386-0.412c-0.427-0.455-1.124-0.452-1.555,0.008l-0.541,0.577l-0.223-0.238c-0.148-0.158-0.389-0.156-0.538,0.003
            l-3.425,3.655c-0.149,0.159-0.151,0.417-0.003,0.574l0.982,1.048c0.148,0.158,0.389,0.156,0.538-0.003l3.425-3.655
            c0.149-0.159,0.151-0.416,0.003-0.574l-0.223-0.238l0.54-0.577c0.133-0.141,0.348-0.143,0.479-0.003l2.231,2.445l1.13,1.206
            c0.427,0.456,1.124,0.452,1.555-0.008l1.261-1.346c0.42-0.448,0.431-1.167,0.034-1.624l0.815-0.869
            C89.526,71.163,89.528,70.906,89.38,70.748z"/>
        </g>
      </g>
    </g>
    <g id="Peintures__x26__colles">
      <g>
        <path class="st2" d="M44.419,105.146h2.189c1.254,0,2.035,0.836,2.035,2.068c0,1.144-0.748,2.057-2.035,2.057h-1.342V112h-0.847
          V105.146z M45.266,108.623h1.133c0.924,0,1.354-0.594,1.354-1.408c0-0.825-0.429-1.386-1.354-1.386h-1.133V108.623z"/>
        <path class="st2" d="M49.347,109.337c0-1.628,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321c0,0.132-0.011,0.275-0.022,0.407
          h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.143,1.496-0.33v0.693c-0.308,0.143-0.913,0.308-1.518,0.308
          C50.172,112.088,49.347,110.977,49.347,109.337z M50.227,108.678h2.662v-0.055c0-0.715-0.396-1.397-1.188-1.397
          C51.085,107.225,50.403,107.489,50.227,108.678z"/>
        <path class="st2" d="M54.945,105.014c0-0.308,0.253-0.561,0.561-0.561s0.561,0.253,0.561,0.561s-0.253,0.561-0.561,0.561
          S54.945,105.322,54.945,105.014z M55.1,106.642h0.814V112H55.1V106.642z"/>
        <path class="st2" d="M57.717,106.642h0.814v0.429c0.253-0.198,0.792-0.517,1.485-0.517c1.298,0,1.738,0.814,1.738,1.903V112
          h-0.814v-3.411c0-0.836-0.242-1.353-1.177-1.353c-0.495,0-0.946,0.209-1.232,0.396V112h-0.814V106.642z"/>
        <path class="st2" d="M62.799,106.642h0.737l0.154-1.43h0.66v1.43h1.232v0.627h-1.232v3.223c0,0.649,0.22,0.913,0.759,0.913
          c0.264,0,0.517-0.066,0.66-0.132v0.671c-0.154,0.055-0.473,0.143-0.825,0.143c-0.946,0-1.408-0.407-1.408-1.485v-3.333h-0.737
          V106.642z"/>
        <path class="st2" d="M66.825,110.185v-3.542h0.814v3.411c0,0.836,0.242,1.353,1.177,1.353c0.495,0,0.946-0.209,1.232-0.396
          v-4.368h0.814V112h-0.814v-0.429c-0.253,0.198-0.792,0.517-1.485,0.517C67.266,112.088,66.825,111.274,66.825,110.185z"/>
        <path class="st2" d="M72.556,106.642h0.814v0.561c0.308-0.374,0.737-0.649,1.342-0.649c0.132,0,0.33,0.033,0.462,0.066v0.759
          c-0.132-0.033-0.319-0.077-0.55-0.077c-0.66,0-0.957,0.242-1.254,0.517V112h-0.814V106.642z"/>
        <path class="st2" d="M75.713,109.337c0-1.628,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321c0,0.132-0.011,0.275-0.022,0.407
          h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.143,1.496-0.33v0.693c-0.308,0.143-0.913,0.308-1.518,0.308
          C76.538,112.088,75.713,110.977,75.713,109.337z M76.593,108.678h2.662v-0.055c0-0.715-0.396-1.397-1.188-1.397
          C77.451,107.225,76.769,107.489,76.593,108.678z"/>
        <path class="st2" d="M80.96,111.791v-0.704c0.33,0.154,0.946,0.33,1.441,0.33c0.77,0,1.177-0.264,1.177-0.869
          c0-0.561-0.352-0.682-1.167-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.023,0.726-1.485,1.793-1.485
          c0.572,0,1.067,0.132,1.309,0.242v0.715c-0.253-0.121-0.77-0.286-1.287-0.286c-0.671,0-1.023,0.264-1.023,0.749
          c0,0.451,0.297,0.649,0.979,0.88c0.748,0.253,1.628,0.583,1.628,1.639c0,0.979-0.759,1.595-1.881,1.595
          C81.983,112.088,81.334,111.978,80.96,111.791z"/>
        <path class="st2" d="M87.89,110.24c0-0.814,0.451-1.386,1.485-1.936c-0.638-0.693-0.891-1.089-0.891-1.662
          c0-0.957,0.77-1.584,1.848-1.584c1.001,0,1.728,0.627,1.728,1.452c0,0.77-0.495,1.243-1.618,1.881l1.75,1.87
          c0.297-0.451,0.495-0.99,0.605-1.562l0.748,0.121c-0.143,0.727-0.44,1.408-0.858,1.97c0.385,0.396,0.682,0.616,0.99,0.616
          c0.121,0,0.231-0.011,0.341-0.055v0.627c-0.132,0.055-0.308,0.11-0.539,0.11c-0.473,0-0.847-0.297-1.298-0.77
          c-0.539,0.473-1.21,0.77-1.98,0.77C88.737,112.088,87.89,111.263,87.89,110.24z M91.708,110.823l-1.915-2.057
          c-0.726,0.418-1.056,0.847-1.056,1.452c0,0.671,0.528,1.188,1.485,1.188C90.827,111.384,91.322,111.164,91.708,110.823z
           M90.046,107.962c0.847-0.462,1.243-0.913,1.243-1.43c0-0.451-0.385-0.858-0.968-0.858c-0.616,0-1.034,0.396-1.034,0.924
          C89.287,106.994,89.441,107.313,90.046,107.962z"/>
        <path class="st2" d="M97.229,109.426c0-1.573,0.77-2.872,2.398-2.872c0.66,0,1.045,0.132,1.309,0.275v0.671
          c-0.297-0.154-0.693-0.275-1.221-0.275c-1.199,0-1.65,0.847-1.65,2.201c0,1.331,0.638,1.991,1.738,1.991
          c0.594,0,0.946-0.121,1.243-0.286v0.671c-0.33,0.165-0.759,0.286-1.375,0.286C98.153,112.088,97.229,111.065,97.229,109.426z"/>
        <path class="st2" d="M101.837,109.327c0-1.441,0.715-2.772,2.343-2.772c1.628,0,2.333,1.221,2.333,2.772
          c0,1.441-0.726,2.761-2.343,2.761S101.837,110.878,101.837,109.327z M105.666,109.327c0-0.99-0.275-2.112-1.496-2.112
          s-1.474,1.122-1.474,2.112s0.264,2.101,1.485,2.101S105.666,110.317,105.666,109.327z"/>
        <path class="st2" d="M107.811,104.519h0.814V112h-0.814V104.519z"/>
        <path class="st2" d="M110.34,104.519h0.814V112h-0.814V104.519z"/>
        <path class="st2" d="M112.452,109.337c0-1.628,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321
          c0,0.132-0.011,0.275-0.022,0.407h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.143,1.496-0.33v0.693
          c-0.308,0.143-0.913,0.308-1.518,0.308C113.277,112.088,112.452,110.977,112.452,109.337z M113.333,108.678h2.662v-0.055
          c0-0.715-0.396-1.397-1.188-1.397C114.19,107.225,113.508,107.489,113.333,108.678z"/>
        <path class="st2" d="M117.699,111.791v-0.704c0.33,0.154,0.946,0.33,1.441,0.33c0.77,0,1.177-0.264,1.177-0.869
          c0-0.561-0.352-0.682-1.167-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.023,0.726-1.485,1.793-1.485
          c0.572,0,1.067,0.132,1.309,0.242v0.715c-0.253-0.121-0.77-0.286-1.287-0.286c-0.671,0-1.023,0.264-1.023,0.749
          c0,0.451,0.297,0.649,0.979,0.88c0.748,0.253,1.628,0.583,1.628,1.639c0,0.979-0.759,1.595-1.881,1.595
          C118.723,112.088,118.073,111.978,117.699,111.791z"/>
      </g>
    </g>
  </g></a>
  <a xlink:href="<%= category_path('enduits') %>">
    <g id="Enduits_1_">
      <g id="img_16_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_4_" class="st0">
          <defs>
            
              <rect id="SVGID_3_" x="106.894" y="109.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -69.5652 164.3872)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_4_">
            <use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_4_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_7_" xlink:href="<%= asset_path "svg/FD9D50AD418C6389.png" %>" transform="matrix(0.5217 0 0 0.5217 77.983 82.483)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_16_">
        <g id="Ellipse_10_1_" class="st1">
          <g>
            <circle cx="163.75" cy="151.25" r="16.75"/>
          </g>
        </g>
        <g id="Objet_dynamique_vectoriel_xA0_Image_9_">
          
            <image style="display:none;overflow:visible;" width="25" height="27" id="Objet_dynamique_vectoriel_xA0_Image_8_" xlink:href="<%= asset_path "svg/FD9D50AD418C638F.png" %>"  transform="matrix(0.5 0 0 0.5 157.5 143.5)">
          </image>
          <g>
            <path class="st2" d="M159.737,149.914l-1,1c-0.3,0.3-0.3,0.7,0,0.9l1.3,1.3l-3,3c-0.5,0.5-0.5,1.3,0,1.7c0.5,0.5,1.3,0.5,1.7,0
              l3-3l1.3,1.3c0.1,0.1,0.3,0.2,0.5,0.2s0.3-0.1,0.5-0.2l1-1L159.737,149.914z M157.537,157.314c-0.2-0.2-0.2-0.4,0-0.6
              s0.4-0.2,0.6,0s0.2,0.4,0,0.6C158.037,157.514,157.737,157.514,157.537,157.314z"/>
          </g>
          <polygon class="st2" points="165.137,154.914 159.937,149.714 163.637,144.314 170.537,151.214        "/>
        </g>
      </g>
      <g id="Enduits_2_">
        <g>
          <path class="st2" d="M148.089,186.145h3.652v0.704h-2.805v2.123h2.398v0.693h-2.398v2.629h2.805v0.704h-3.652V186.145z"/>
          <path class="st2" d="M153.237,187.641h0.814v0.429c0.253-0.198,0.792-0.517,1.485-0.517c1.298,0,1.738,0.813,1.738,1.902v3.543
            h-0.814v-3.41c0-0.837-0.242-1.354-1.177-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.814V187.641z"/>
          <path class="st2" d="M158.528,190.347c0-1.562,0.935-2.794,2.464-2.794c0.506,0,0.902,0.143,1.067,0.23v-2.267h0.814v7.481
            h-0.814v-0.429c-0.198,0.23-0.682,0.517-1.309,0.517C159.298,193.086,158.528,192.041,158.528,190.347z M162.06,192.008v-3.564
            c-0.209-0.088-0.55-0.209-0.968-0.209c-1.144,0-1.694,0.814-1.694,2.079c0,1.145,0.374,2.068,1.551,2.068
            C161.388,192.382,161.795,192.239,162.06,192.008z"/>
          <path class="st2" d="M164.545,191.183v-3.542h0.814v3.41c0,0.836,0.242,1.354,1.177,1.354c0.495,0,0.946-0.209,1.232-0.396
            v-4.367h0.814v5.357h-0.814v-0.429c-0.253,0.197-0.792,0.517-1.485,0.517C164.985,193.086,164.545,192.271,164.545,191.183z"/>
          <path class="st2" d="M170.232,186.012c0-0.308,0.253-0.561,0.561-0.561s0.561,0.253,0.561,0.561
            c0,0.309-0.253,0.562-0.561,0.562S170.232,186.32,170.232,186.012z M170.386,187.641h0.814v5.357h-0.814V187.641z"/>
          <path class="st2" d="M172.376,187.641h0.737l0.154-1.431h0.66v1.431h1.232v0.627h-1.232v3.224c0,0.648,0.22,0.913,0.759,0.913
            c0.264,0,0.517-0.066,0.66-0.133v0.672c-0.154,0.055-0.473,0.143-0.825,0.143c-0.946,0-1.408-0.407-1.408-1.485v-3.333h-0.737
            V187.641z"/>
          <path class="st2" d="M176.028,192.789v-0.704c0.33,0.154,0.946,0.33,1.441,0.33c0.77,0,1.177-0.264,1.177-0.869
            c0-0.562-0.352-0.683-1.167-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.022,0.726-1.484,1.793-1.484
            c0.572,0,1.067,0.132,1.309,0.241v0.716c-0.253-0.121-0.77-0.286-1.287-0.286c-0.671,0-1.023,0.264-1.023,0.748
            c0,0.451,0.297,0.648,0.979,0.88c0.748,0.253,1.628,0.583,1.628,1.64c0,0.979-0.759,1.595-1.881,1.595
            C177.052,193.086,176.402,192.976,176.028,192.789z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('economie-energie') %>">
    <g id="éco_d_x27_énergie_1_">
      <g id="img_15_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_6_" class="st0">
          <defs>
            
              <rect id="SVGID_5_" x="187.894" y="190.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -103.1165 245.3873)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_6_">
            <use xlink:href="#SVGID_5_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_6_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_6_" xlink:href="<%= asset_path "svg/FD9D50AD418C6388.png" %>"  transform="matrix(0.5061 0 0 0.5061 163.4322 165.9322)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_15_">
        <g id="Ellipse_10_2_" class="st1">
          <g>
            <circle cx="244.75" cy="232.25" r="16.75"/>
          </g>
        </g>
        <g id="Objet_dynamique_vectoriel_copie_xA0_Image_1_">
          
            <image style="display:none;overflow:visible;" width="22" height="23" id="Objet_dynamique_vectoriel_copie_xA0_Image" xlink:href="<%= asset_path "svg/FD9D50AD418C6386.png" %>"  transform="matrix(0.5 0 0 0.5 239.5 227.5)">
          </image>
          <g id="Calque_52">
            <polygon class="st2" points="245.983,227.976 238.883,227.976 238.883,226.076 245.983,226.076 247.083,226.976          "/>
            <polygon class="st2" points="247.083,230.576 238.883,230.576 238.883,228.676 247.083,228.676 248.183,229.676          "/>
            <polygon class="st2" points="248.183,233.276 238.883,233.276 238.883,231.376 248.183,231.376 249.283,232.376          "/>
            <polygon class="st2" points="249.283,235.976 238.883,235.976 238.883,234.076 249.283,234.076 250.383,234.976          "/>
            <polygon class="st2" points="250.383,238.676 238.883,238.676 238.883,236.776 250.383,236.776 251.483,237.676          "/>
          </g>
        </g>
      </g>
      <g id="Économie_d_x2019_énergie">
        <g>
          <path class="st2" d="M202.074,267.145h3.652v0.704h-2.805v2.123h2.398v0.693h-2.398v2.629h2.805v0.704h-3.652V267.145z
             M204.571,265.142h1.199l-1.485,1.387h-0.726L204.571,265.142z"/>
          <path class="st2" d="M206.804,271.424c0-1.573,0.77-2.871,2.398-2.871c0.66,0,1.045,0.132,1.309,0.274v0.671
            c-0.297-0.153-0.693-0.274-1.221-0.274c-1.199,0-1.65,0.847-1.65,2.2c0,1.331,0.638,1.991,1.738,1.991
            c0.594,0,0.946-0.121,1.243-0.286v0.671c-0.33,0.165-0.759,0.286-1.375,0.286C207.728,274.086,206.804,273.062,206.804,271.424z
            "/>
          <path class="st2" d="M211.413,271.324c0-1.44,0.715-2.771,2.343-2.771c1.628,0,2.333,1.221,2.333,2.771
            c0,1.441-0.726,2.762-2.343,2.762S211.413,272.876,211.413,271.324z M215.241,271.324c0-0.989-0.275-2.112-1.496-2.112
            s-1.474,1.123-1.474,2.112c0,0.99,0.264,2.102,1.485,2.102S215.241,272.314,215.241,271.324z"/>
          <path class="st2" d="M217.386,268.641h0.814v0.429c0.253-0.198,0.792-0.517,1.485-0.517c1.298,0,1.738,0.813,1.738,1.902v3.543
            h-0.814v-3.41c0-0.837-0.242-1.354-1.177-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.814V268.641z"/>
          <path class="st2" d="M222.677,271.324c0-1.44,0.715-2.771,2.343-2.771c1.628,0,2.333,1.221,2.333,2.771
            c0,1.441-0.726,2.762-2.343,2.762S222.677,272.876,222.677,271.324z M226.505,271.324c0-0.989-0.275-2.112-1.496-2.112
            s-1.474,1.123-1.474,2.112c0,0.99,0.264,2.102,1.485,2.102S226.505,272.314,226.505,271.324z"/>
          <path class="st2" d="M228.649,268.641h0.814v0.429c0.286-0.22,0.836-0.517,1.529-0.517c0.484,0,0.924,0.209,1.188,0.55
            c0.451-0.319,1.012-0.55,1.683-0.55c1.265,0,1.706,0.792,1.706,1.902v3.543h-0.814v-3.41c0-0.792-0.198-1.354-1.166-1.354
            c-0.462,0-0.924,0.198-1.177,0.33c0.044,0.154,0.11,0.429,0.11,0.759v3.675h-0.814v-3.466c0-0.924-0.396-1.298-1.111-1.298
            c-0.429,0-0.836,0.209-1.133,0.396v4.367h-0.814V268.641z"/>
          <path class="st2" d="M237.174,267.012c0-0.308,0.253-0.561,0.561-0.561s0.561,0.253,0.561,0.561
            c0,0.309-0.253,0.562-0.561,0.562S237.174,267.32,237.174,267.012z M237.329,268.641h0.814v5.357h-0.814V268.641z"/>
          <path class="st2" d="M239.528,271.336c0-1.629,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321
            c0,0.132-0.011,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.308,0.143-0.913,0.308-1.518,0.308C240.354,274.086,239.528,272.975,239.528,271.336z M240.409,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C241.267,269.224,240.584,269.487,240.409,270.676z"/>
          <path class="st2" d="M247.415,271.347c0-1.562,0.935-2.794,2.464-2.794c0.506,0,0.902,0.143,1.067,0.23v-2.267h0.814v7.481
            h-0.814v-0.429c-0.198,0.23-0.682,0.517-1.309,0.517C248.185,274.086,247.415,273.041,247.415,271.347z M250.947,273.008v-3.564
            c-0.209-0.088-0.55-0.209-0.968-0.209c-1.144,0-1.694,0.814-1.694,2.079c0,1.145,0.374,2.068,1.551,2.068
            C250.275,273.382,250.683,273.239,250.947,273.008z"/>
          <path class="st2" d="M254.434,267.122c0,0.715-0.506,1.441-0.99,1.826l-0.407-0.341c0.385-0.418,0.517-0.727,0.517-1.375
            c0-0.265-0.044-0.539-0.099-0.716h0.924C254.412,266.715,254.434,266.902,254.434,267.122z"/>
          <path class="st2" d="M255.236,271.336c0-1.629,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321
            c0,0.132-0.011,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.308,0.143-0.913,0.308-1.519,0.308C256.061,274.086,255.236,272.975,255.236,271.336z M256.116,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C256.974,269.224,256.292,269.487,256.116,270.676z M258.217,266.517h1.199l-1.485,1.387
            h-0.726L258.217,266.517z"/>
          <path class="st2" d="M260.901,268.641h0.814v0.429c0.253-0.198,0.792-0.517,1.485-0.517c1.298,0,1.738,0.813,1.738,1.902v3.543
            h-0.814v-3.41c0-0.837-0.242-1.354-1.177-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.814V268.641z"/>
          <path class="st2" d="M266.192,271.336c0-1.629,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321
            c0,0.132-0.011,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.308,0.143-0.913,0.308-1.519,0.308C267.017,274.086,266.192,272.975,266.192,271.336z M267.072,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C267.93,269.224,267.248,269.487,267.072,270.676z"/>
          <path class="st2" d="M271.834,268.641h0.814v0.561c0.308-0.374,0.737-0.648,1.342-0.648c0.132,0,0.33,0.032,0.462,0.065v0.759
            c-0.132-0.032-0.319-0.076-0.55-0.076c-0.66,0-0.957,0.241-1.254,0.517v4.181h-0.814V268.641z"/>
          <path class="st2" d="M276.521,272.095c-0.187,0.099-0.341,0.275-0.341,0.462c0,0.265,0.143,0.396,0.528,0.418l0.979,0.056
            c0.979,0.044,1.771,0.396,1.771,1.408c0,1.089-0.979,1.628-2.409,1.628c-1.243,0-2.179-0.473-2.179-1.397
            c0-0.616,0.539-0.99,0.99-1.199c-0.22-0.132-0.407-0.352-0.407-0.748c0-0.385,0.286-0.704,0.572-0.836
            c-0.528-0.286-0.891-0.803-0.891-1.507c0-1.046,0.792-1.826,2.002-1.826c0.209,0,0.418,0.032,0.627,0.088h1.859v0.671h-0.847
            c0.22,0.286,0.363,0.649,0.363,1.067c0,0.99-0.749,1.793-2.002,1.793C276.928,272.172,276.719,272.149,276.521,272.095z
             M278.623,274.482c0-0.518-0.33-0.737-1.298-0.771c-0.396-0.011-0.748-0.033-0.88-0.044c-0.341,0.165-0.759,0.418-0.759,0.924
            c0,0.583,0.616,0.814,1.408,0.814C278.149,275.406,278.623,275.065,278.623,274.482z M278.314,270.379
            c0-0.616-0.374-1.178-1.177-1.178c-0.792,0-1.177,0.562-1.177,1.178c0,0.615,0.385,1.154,1.177,1.154
            C277.94,271.533,278.314,270.994,278.314,270.379z"/>
          <path class="st2" d="M280.755,267.012c0-0.308,0.253-0.561,0.561-0.561s0.561,0.253,0.561,0.561
            c0,0.309-0.253,0.562-0.561,0.562S280.755,267.32,280.755,267.012z M280.91,268.641h0.814v5.357h-0.814V268.641z"/>
          <path class="st2" d="M283.109,271.336c0-1.629,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321
            c0,0.132-0.011,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.308,0.143-0.913,0.308-1.518,0.308C283.935,274.086,283.109,272.975,283.109,271.336z M283.99,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C284.848,269.224,284.166,269.487,283.99,270.676z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('bois') %>">
    <g id="bois_1_">
      <g id="img_14_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_8_" class="st0">
          <defs>
            
              <rect id="SVGID_7_" x="187.894" y="28.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 11.4348 197.9385)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_8_">
            <use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_8_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_5_" xlink:href="<%= asset_path "svg/FD9D50AD418C6387.png" %>"  transform="matrix(0.5087 0 0 0.5087 162.5875 3.1157)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_14_">
        <g id="Ellipse_10_3_" class="st1">
          <g>
            <circle cx="244.75" cy="70.25" r="16.75"/>
          </g>
        </g>
        <g id="Forma_1_1_">
          <g>
            <path class="st2" d="M249.941,73.794l-2.457-3.138h0.959c0.108,0,0.206-0.061,0.255-0.157c0.048-0.096,0.038-0.211-0.026-0.298
              l-1.796-2.417h0.392c0.106,0,0.203-0.058,0.252-0.152c0.05-0.093,0.043-0.206-0.017-0.294l-2.512-3.667
              c-0.053-0.077-0.141-0.124-0.235-0.124c-0.001,0-0.001,0-0.001,0c-0.094,0-0.181,0.047-0.234,0.123l-2.523,3.668
              c-0.06,0.087-0.066,0.2-0.018,0.294c0.05,0.094,0.146,0.152,0.252,0.152h0.4l-1.804,2.417
              c-0.064,0.086-0.074,0.201-0.026,0.298c0.048,0.096,0.146,0.157,0.255,0.157h0.968l-2.467,3.138
              c-0.067,0.086-0.08,0.202-0.032,0.3c0.048,0.098,0.147,0.16,0.256,0.16h3.645v2.94h0.003c0.015,0.306,0.599,0.552,1.319,0.552
              s1.304-0.246,1.319-0.552l0.003-2.94h3.646c0.109,0,0.208-0.062,0.256-0.16C250.021,73.997,250.008,73.88,249.941,73.794z"/>
          </g>
        </g>
      </g>
      <g id="Bois">
        <g>
          <path class="st2" d="M236.163,105.144h2.134c1.386,0,2.09,0.682,2.09,1.738c0,0.77-0.55,1.342-1.144,1.485v0.022
            c0.759,0.143,1.353,0.704,1.353,1.65c0,1.145-0.814,1.958-2.211,1.958h-2.222V105.144z M237.01,108.082h1.221
            c0.891,0,1.298-0.418,1.298-1.155c0-0.638-0.396-1.078-1.287-1.078h-1.232V108.082z M237.01,111.294h1.254
            c0.935,0,1.408-0.429,1.408-1.243c0-0.847-0.429-1.309-1.386-1.309h-1.276V111.294z"/>
          <path class="st2" d="M241.695,109.325c0-1.441,0.715-2.772,2.343-2.772c1.628,0,2.333,1.221,2.333,2.772
            c0,1.441-0.726,2.761-2.343,2.761S241.695,110.876,241.695,109.325z M245.524,109.325c0-0.99-0.275-2.112-1.496-2.112
            s-1.474,1.122-1.474,2.112s0.264,2.101,1.485,2.101S245.524,110.315,245.524,109.325z"/>
          <path class="st2" d="M247.602,105.012c0-0.308,0.253-0.561,0.561-0.561s0.561,0.253,0.561,0.561s-0.253,0.561-0.561,0.561
            S247.602,105.32,247.602,105.012z M247.756,106.64h0.814v5.358h-0.814V106.64z"/>
          <path class="st2" d="M249.956,111.789v-0.704c0.33,0.154,0.946,0.33,1.441,0.33c0.77,0,1.177-0.264,1.177-0.869
            c0-0.561-0.352-0.682-1.167-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.023,0.726-1.485,1.793-1.485
            c0.572,0,1.067,0.132,1.309,0.242v0.715c-0.253-0.121-0.77-0.286-1.287-0.286c-0.671,0-1.023,0.264-1.023,0.749
            c0,0.451,0.297,0.649,0.979,0.88c0.748,0.253,1.628,0.583,1.628,1.639c0,0.979-0.759,1.595-1.881,1.595
            C250.979,112.086,250.33,111.976,249.956,111.789z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('portes-fenetres') %>">
    <g id="portes__x26__fenetres_1_">
      <g id="img_13_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_10_" class="st0">
          <defs>
            
              <rect id="SVGID_9_" x="268.894" y="109.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -22.1165 278.9386)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_10_">
            <use xlink:href="#SVGID_9_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_10_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_4_" xlink:href="<%= asset_path "svg/FD9D50AD418C6397.png" %>"  transform="matrix(0.5184 0 0 0.5184 242.9827 83.4827)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_13_">
        <g id="Ellipse_10_4_" class="st1">
          <g>
            <circle cx="325.75" cy="151.25" r="16.75"/>
          </g>
        </g>
        <g id="Objet_dynamique_vectoriel_xA0_Image_7_">
          <g id="Calque_51">
            <g>
              <rect x="320.748" y="143.968" class="st2" width="10.6" height="1"/>
            </g>
            <g>
              <path class="st2" d="M330.448,145.368v11.3h-8.8v-11.3H330.448 M330.848,144.968h-9.6v12.1h9.6V144.968L330.848,144.968z"/>
            </g>
            <g>
              <rect x="321.448" y="150.768" class="st2" width="9.2" height="0.4"/>
            </g>
            <g>
              <rect x="325.848" y="145.268" class="st2" width="0.4" height="5.7"/>
            </g>
            <g>
              <rect x="325.748" y="151.468" class="st2" width="0.4" height="5.3"/>
            </g>
            <g>
              <rect x="320.748" y="156.968" class="st2" width="10.6" height="0.7"/>
            </g>
            <g>
              <rect x="321.148" y="157.368" class="st2" width="9.7" height="0.8"/>
            </g>
          </g>
        </g>
      </g>
      <g id="Portes__x26__fenêtres">
        <g>
          <path class="st2" d="M288.568,186.145h2.189c1.254,0,2.035,0.836,2.035,2.067c0,1.145-0.748,2.058-2.035,2.058h-1.342v2.729
            h-0.847V186.145z M289.416,189.62h1.133c0.924,0,1.354-0.594,1.354-1.408c0-0.824-0.429-1.386-1.354-1.386h-1.133V189.62z"/>
          <path class="st2" d="M293.496,190.324c0-1.44,0.715-2.771,2.343-2.771c1.628,0,2.333,1.221,2.333,2.771
            c0,1.441-0.726,2.762-2.343,2.762S293.496,191.876,293.496,190.324z M297.325,190.324c0-0.989-0.275-2.112-1.496-2.112
            s-1.474,1.123-1.474,2.112c0,0.99,0.264,2.102,1.485,2.102S297.325,191.314,297.325,190.324z"/>
          <path class="st2" d="M299.447,187.641h0.814v0.561c0.308-0.374,0.737-0.648,1.342-0.648c0.132,0,0.33,0.032,0.462,0.065v0.759
            c-0.132-0.032-0.319-0.076-0.55-0.076c-0.66,0-0.957,0.241-1.254,0.517v4.181h-0.814V187.641z"/>
          <path class="st2" d="M302.56,187.641h0.737l0.154-1.431h0.66v1.431h1.232v0.627h-1.232v3.224c0,0.648,0.22,0.913,0.759,0.913
            c0.264,0,0.517-0.066,0.66-0.133v0.672c-0.154,0.055-0.473,0.143-0.825,0.143c-0.946,0-1.408-0.407-1.408-1.485v-3.333h-0.737
            V187.641z"/>
          <path class="st2" d="M306.211,190.336c0-1.629,0.891-2.783,2.376-2.783s2.013,1.166,2.013,2.321
            c0,0.132-0.011,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.308,0.143-0.913,0.308-1.519,0.308C307.037,193.086,306.211,191.975,306.211,190.336z M307.092,189.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C307.95,188.224,307.268,188.487,307.092,189.676z"/>
          <path class="st2" d="M311.458,192.789v-0.704c0.33,0.154,0.946,0.33,1.441,0.33c0.77,0,1.177-0.264,1.177-0.869
            c0-0.562-0.352-0.683-1.167-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.022,0.726-1.484,1.793-1.484
            c0.572,0,1.067,0.132,1.309,0.241v0.716c-0.253-0.121-0.77-0.286-1.287-0.286c-0.671,0-1.023,0.264-1.023,0.748
            c0,0.451,0.297,0.648,0.979,0.88c0.748,0.253,1.628,0.583,1.628,1.64c0,0.979-0.759,1.595-1.881,1.595
            C312.482,193.086,311.833,192.976,311.458,192.789z"/>
          <path class="st2" d="M318.389,191.238c0-0.814,0.451-1.387,1.485-1.937c-0.638-0.693-0.891-1.09-0.891-1.661
            c0-0.957,0.77-1.585,1.848-1.585c1.001,0,1.728,0.628,1.728,1.452c0,0.771-0.495,1.243-1.618,1.882l1.75,1.87
            c0.297-0.451,0.495-0.99,0.605-1.562l0.748,0.121c-0.143,0.727-0.44,1.408-0.858,1.97c0.385,0.396,0.682,0.616,0.99,0.616
            c0.121,0,0.231-0.012,0.341-0.056v0.627c-0.132,0.056-0.308,0.11-0.539,0.11c-0.473,0-0.847-0.297-1.298-0.77
            c-0.539,0.473-1.21,0.77-1.98,0.77C319.236,193.086,318.389,192.261,318.389,191.238z M322.207,191.821l-1.915-2.058
            c-0.726,0.418-1.056,0.847-1.056,1.452c0,0.671,0.528,1.188,1.485,1.188C321.326,192.382,321.821,192.162,322.207,191.821z
             M320.545,188.961c0.847-0.463,1.243-0.914,1.243-1.431c0-0.451-0.385-0.858-0.968-0.858c-0.616,0-1.034,0.396-1.034,0.925
            C319.786,187.992,319.94,188.312,320.545,188.961z"/>
          <path class="st2" d="M327.529,187.641h0.858v-0.649c0-1.057,0.561-1.562,1.573-1.562c0.285,0,0.571,0.056,0.704,0.1v0.671
            c-0.121-0.033-0.286-0.088-0.528-0.088c-0.627,0-0.936,0.23-0.936,0.924v0.605h1.276v0.627h-1.276v4.73h-0.813v-4.73h-0.858
            V187.641z"/>
          <path class="st2" d="M331.104,190.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C331.93,193.086,331.104,191.975,331.104,190.336z M331.984,189.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C332.843,188.224,332.16,188.487,331.984,189.676z"/>
          <path class="st2" d="M336.77,187.641h0.813v0.429c0.253-0.198,0.792-0.517,1.485-0.517c1.299,0,1.738,0.813,1.738,1.902v3.543
            h-0.813v-3.41c0-0.837-0.242-1.354-1.178-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.813V187.641z"/>
          <path class="st2" d="M342.061,190.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C342.886,193.086,342.061,191.975,342.061,190.336z M344.084,185.253h0.595l1.331,1.65
            h-0.727l-0.924-0.936l-0.902,0.936h-0.726L344.084,185.253z M342.94,189.676h2.662v-0.056c0-0.715-0.396-1.396-1.188-1.396
            C343.799,188.224,343.116,188.487,342.94,189.676z"/>
          <path class="st2" d="M347.099,187.641h0.736l0.154-1.431h0.66v1.431h1.232v0.627h-1.232v3.224c0,0.648,0.22,0.913,0.759,0.913
            c0.265,0,0.518-0.066,0.66-0.133v0.672c-0.153,0.055-0.473,0.143-0.825,0.143c-0.945,0-1.408-0.407-1.408-1.485v-3.333h-0.736
            V187.641z"/>
          <path class="st2" d="M351.146,187.641h0.814v0.561c0.308-0.374,0.737-0.648,1.342-0.648c0.132,0,0.33,0.032,0.462,0.065v0.759
            c-0.132-0.032-0.318-0.076-0.55-0.076c-0.66,0-0.957,0.241-1.254,0.517v4.181h-0.814V187.641z"/>
          <path class="st2" d="M354.304,190.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C355.129,193.086,354.304,191.975,354.304,190.336z M355.184,189.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C356.042,188.224,355.359,188.487,355.184,189.676z"/>
          <path class="st2" d="M359.55,192.789v-0.704c0.33,0.154,0.945,0.33,1.44,0.33c0.771,0,1.178-0.264,1.178-0.869
            c0-0.562-0.353-0.683-1.166-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.022,0.726-1.484,1.793-1.484
            c0.572,0,1.067,0.132,1.31,0.241v0.716c-0.254-0.121-0.771-0.286-1.287-0.286c-0.672,0-1.023,0.264-1.023,0.748
            c0,0.451,0.297,0.648,0.979,0.88c0.749,0.253,1.629,0.583,1.629,1.64c0,0.979-0.76,1.595-1.882,1.595
            C360.572,193.086,359.924,192.976,359.55,192.789z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('gros-oeuvre') %>">
    <g id="Gros_oeuvres_1_">
      <g id="img_12_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_12_" class="st0">
          <defs>
            
              <rect id="SVGID_11_" x="349.894" y="28.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 58.8835 312.4897)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_12_">
            <use xlink:href="#SVGID_11_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_12_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_3_" xlink:href="<%= asset_path "svg/FD9D50AD418C6399.png" %>"  transform="matrix(0.5 0 0 0.5 326 4.5)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_12_">
        <g id="Ellipse_10_5_" class="st1">
          <g>
            <circle cx="406.75" cy="70.25" r="16.75"/>
          </g>
        </g>
        <g id="Calque_53">
          <g>
            <path class="st2" d="M411.506,72.302h-4.1c-0.2,0-0.4,0.2-0.4,0.4v1.7c0,0.2,0.2,0.4,0.4,0.4h4.1c0.2,0,0.4-0.2,0.4-0.4v-1.7
              C412.006,72.502,411.806,72.302,411.506,72.302z"/>
            <path class="st2" d="M401.606,68.102h4.1c0.2,0,0.4-0.2,0.4-0.4v-1.7c0-0.2-0.2-0.4-0.4-0.4h-4.1c-0.2,0-0.4,0.2-0.4,0.4v1.7
              C401.206,67.902,401.406,68.102,401.606,68.102z"/>
            <path class="st2" d="M411.506,65.502h-4.1c-0.2,0-0.4,0.2-0.4,0.4v1.7c0,0.2,0.2,0.4,0.4,0.4h4.1c0.2,0,0.4-0.2,0.4-0.4v-1.7
              C412.006,65.802,411.806,65.502,411.506,65.502z"/>
            <path class="st2" d="M401.606,68.902c-0.2,0-0.4,0.2-0.4,0.4v1.7c0,0.2,0.2,0.4,0.4,0.4h1.3c0.2,0,0.4-0.2,0.4-0.4v-1.7
              c0-0.2-0.2-0.4-0.4-0.4H401.606L401.606,68.902z"/>
            <path class="st2" d="M404.106,69.402v1.7c0,0.2,0.2,0.4,0.4,0.4h4.1c0.2,0,0.4-0.2,0.4-0.4v-1.7c0-0.2-0.2-0.4-0.4-0.4h-4.1
              C404.306,68.902,404.106,69.102,404.106,69.402z"/>
            <path class="st2" d="M411.606,68.902L411.606,68.902L411.606,68.902L411.606,68.902h-1.3c-0.2,0-0.4,0.2-0.4,0.4v1.7
              c0,0.2,0.2,0.4,0.4,0.4h1.3c0.2,0,0.4-0.2,0.4-0.4v-1.7C412.006,69.102,411.806,68.902,411.606,68.902z"/>
            <path class="st2" d="M405.706,72.302h-4.1c-0.2,0-0.4,0.2-0.4,0.4v1.7c0,0.2,0.2,0.4,0.4,0.4h4.1c0.2,0,0.4-0.2,0.4-0.4v-1.7
              C406.206,72.502,406.006,72.302,405.706,72.302z"/>
          </g>
        </g>
      </g>
      <g id="Gros_oeuvres_2_">
        <g>
          <path class="st2" d="M378.439,108.665c0-2.002,1.056-3.608,3.289-3.608c0.858,0,1.287,0.187,1.617,0.341v0.748
            c-0.374-0.209-0.913-0.385-1.562-0.385c-1.694,0-2.431,1.188-2.431,2.904c0,1.793,0.935,2.707,2.431,2.707
            c0.495,0,0.792-0.077,1.111-0.187v-1.98h-1.243v-0.66h2.035v3.158c-0.462,0.176-1.001,0.385-2.013,0.385
            C379.693,112.086,378.439,110.854,378.439,108.665z"/>
          <path class="st2" d="M385.38,106.64h0.814v0.561c0.308-0.374,0.737-0.649,1.342-0.649c0.132,0,0.33,0.033,0.462,0.066v0.759
            c-0.132-0.033-0.318-0.077-0.55-0.077c-0.66,0-0.957,0.242-1.254,0.517v4.181h-0.814V106.64z"/>
          <path class="st2" d="M388.537,109.325c0-1.441,0.715-2.772,2.343-2.772c1.629,0,2.333,1.221,2.333,2.772
            c0,1.441-0.727,2.761-2.344,2.761S388.537,110.876,388.537,109.325z M392.365,109.325c0-0.99-0.275-2.112-1.496-2.112
            c-1.222,0-1.475,1.122-1.475,2.112s0.265,2.101,1.485,2.101C392.102,111.426,392.365,110.315,392.365,109.325z"/>
          <path class="st2" d="M394.092,111.789v-0.704c0.33,0.154,0.945,0.33,1.44,0.33c0.771,0,1.178-0.264,1.178-0.869
            c0-0.561-0.353-0.682-1.166-0.979c-0.837-0.297-1.408-0.682-1.408-1.529c0-1.023,0.726-1.485,1.793-1.485
            c0.572,0,1.067,0.132,1.31,0.242v0.715c-0.254-0.121-0.771-0.286-1.287-0.286c-0.672,0-1.023,0.264-1.023,0.749
            c0,0.451,0.297,0.649,0.979,0.88c0.749,0.253,1.629,0.583,1.629,1.639c0,0.979-0.76,1.595-1.882,1.595
            C395.114,112.086,394.466,111.976,394.092,111.789z"/>
          <path class="st2" d="M401.044,109.325c0-1.441,0.715-2.772,2.343-2.772c1.629,0,2.333,1.221,2.333,2.772
            c0,1.441-0.727,2.761-2.344,2.761S401.044,110.876,401.044,109.325z M404.872,109.325c0-0.99-0.275-2.112-1.496-2.112
            c-1.222,0-1.475,1.122-1.475,2.112s0.265,2.101,1.485,2.101C404.608,111.426,404.872,110.315,404.872,109.325z"/>
          <path class="st2" d="M406.599,109.335c0-1.628,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.275-0.022,0.407h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.143,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C407.424,112.086,406.599,110.975,406.599,109.335z M407.479,108.676h2.662v-0.055
            c0-0.715-0.396-1.397-1.188-1.397C408.337,107.223,407.654,107.487,407.479,108.676z"/>
          <path class="st2" d="M412.22,110.183v-3.542h0.813v3.411c0,0.836,0.242,1.353,1.178,1.353c0.495,0,0.946-0.209,1.231-0.396
            v-4.368h0.814v5.358h-0.814v-0.429c-0.253,0.198-0.792,0.517-1.484,0.517C412.659,112.086,412.22,111.272,412.22,110.183z"/>
          <path class="st2" d="M417.29,106.64h0.858l1.463,4.423l1.441-4.423h0.814l-1.87,5.358h-0.848L417.29,106.64z"/>
          <path class="st2" d="M422.889,106.64h0.814v0.561c0.308-0.374,0.737-0.649,1.342-0.649c0.132,0,0.33,0.033,0.462,0.066v0.759
            c-0.132-0.033-0.318-0.077-0.55-0.077c-0.66,0-0.957,0.242-1.254,0.517v4.181h-0.814V106.64z"/>
          <path class="st2" d="M426.047,109.335c0-1.628,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.275-0.022,0.407h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.143,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C426.872,112.086,426.047,110.975,426.047,109.335z M426.927,108.676h2.662v-0.055
            c0-0.715-0.396-1.397-1.188-1.397C427.785,107.223,427.103,107.487,426.927,108.676z"/>
          <path class="st2" d="M431.294,111.789v-0.704c0.33,0.154,0.945,0.33,1.44,0.33c0.771,0,1.178-0.264,1.178-0.869
            c0-0.561-0.353-0.682-1.166-0.979c-0.836-0.297-1.408-0.682-1.408-1.529c0-1.023,0.726-1.485,1.793-1.485
            c0.572,0,1.067,0.132,1.31,0.242v0.715c-0.254-0.121-0.771-0.286-1.287-0.286c-0.672,0-1.023,0.264-1.023,0.749
            c0,0.451,0.297,0.649,0.979,0.88c0.749,0.253,1.629,0.583,1.629,1.639c0,0.979-0.76,1.595-1.882,1.595
            C432.316,112.086,431.668,111.976,431.294,111.789z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('production-energie') %>">
    <g id="Prod_énergie_verte_1_">
      <g id="img_11_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_14_" class="st0">
          <defs>
            
              <rect id="SVGID_13_" x="349.894" y="190.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -55.6678 359.9384)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_14_">
            <use xlink:href="#SVGID_13_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_14_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_2_" xlink:href="<%= asset_path "svg/FD9D50AD418C639B.png" %>"  transform="matrix(0.5186 0 0 0.5186 321.9982 162.4982)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_11_">
        <g id="Ellipse_10_6_" class="st1">
          <g>
            <circle cx="406.651" cy="232.25" r="16.75"/>
          </g>
        </g>
        <g id="Forma_1_2_">
          <g>
            <path class="st2" d="M408.693,236.847h-3.981c-0.413,0-0.75,0.269-0.75,0.6s0.336,0.6,0.75,0.6h3.981
              c0.413,0,0.75-0.269,0.75-0.6S409.106,236.847,408.693,236.847z M408.693,238.561h-3.981c-0.413,0-0.75,0.269-0.75,0.599
              c0,0.331,0.336,0.6,0.75,0.6h3.981c0.413,0,0.75-0.269,0.75-0.6C409.442,238.83,409.106,238.561,408.693,238.561z
               M408.131,240.301h-2.857c-0.413,0-0.75,0.269-0.75,0.599s0.336,0.6,0.75,0.6h2.857c0.413,0,0.75-0.269,0.75-0.6
              S408.544,240.301,408.131,240.301z M406.702,225c-2.757,0-5,2.212-5,4.931c0,1.377,0.433,2.129,0.892,2.926
              c0.43,0.747,0.875,1.519,1.02,2.894c0.004,0.312,0.262,0.565,0.578,0.565h5.02c0.202,0,0.392-0.106,0.495-0.277
              c0.068-0.112,0.086-0.283,0.101-0.433c0.004-0.039,0.008-0.076,0.012-0.108c0.171-1.22,0.587-1.942,0.99-2.641
              c0.459-0.796,0.892-1.548,0.892-2.926C411.702,227.212,409.459,225,406.702,225z M408.073,232.714
              c-0.274,0.32-0.64,0.497-1.087,0.524c-0.197,0.012-0.346,0.161-0.346,0.347v1.415c0,0.097-0.08,0.177-0.179,0.177h-0.452
              c-0.046,0-0.086-0.017-0.112-0.047c-0.026-0.03-0.036-0.07-0.028-0.113c0.426-2.565,1.058-3.54,1.242-3.778
              c0.082-0.106,0.075-0.177,0.054-0.218c-0.021-0.042-0.065-0.068-0.118-0.068c-0.035,0-0.073,0.01-0.117,0.031
              c-0.271,0.127-1.162,0.65-1.263,2.072c0,0.001,0,0.002,0,0.003c-0.243-0.392-0.759-1.401-0.354-2.391
              c0.375-0.918,1.433-1.605,3.144-2.044c0.014-0.004,0.028-0.005,0.041-0.005c0.072,0,0.126,0.052,0.134,0.13
              C408.711,229.473,408.952,231.685,408.073,232.714z"/>
          </g>
        </g>
      </g>
      <g id="Production_d_x2019_énergie_x0D_verte">
        <g>
          <path class="st2" d="M361.692,267.145h2.189c1.254,0,2.035,0.836,2.035,2.067c0,1.145-0.748,2.058-2.035,2.058h-1.343v2.729
            h-0.847V267.145z M362.539,270.62h1.134c0.924,0,1.353-0.594,1.353-1.408c0-0.824-0.429-1.386-1.353-1.386h-1.134V270.62z"/>
          <path class="st2" d="M367.071,268.641h0.814v0.561c0.308-0.374,0.737-0.648,1.342-0.648c0.132,0,0.33,0.032,0.462,0.065v0.759
            c-0.132-0.032-0.318-0.076-0.55-0.076c-0.66,0-0.957,0.241-1.254,0.517v4.181h-0.814V268.641z"/>
          <path class="st2" d="M370.229,271.324c0-1.44,0.715-2.771,2.343-2.771c1.629,0,2.333,1.221,2.333,2.771
            c0,1.441-0.727,2.762-2.344,2.762S370.229,272.876,370.229,271.324z M374.057,271.324c0-0.989-0.275-2.112-1.496-2.112
            c-1.222,0-1.475,1.123-1.475,2.112c0,0.99,0.265,2.102,1.485,2.102C373.793,273.426,374.057,272.314,374.057,271.324z"/>
          <path class="st2" d="M375.783,271.347c0-1.562,0.935-2.794,2.464-2.794c0.506,0,0.902,0.143,1.067,0.23v-2.267h0.814v7.481
            h-0.814v-0.429c-0.198,0.23-0.683,0.517-1.31,0.517C376.553,274.086,375.783,273.041,375.783,271.347z M379.314,273.008v-3.564
            c-0.209-0.088-0.55-0.209-0.968-0.209c-1.145,0-1.694,0.814-1.694,2.079c0,1.145,0.374,2.068,1.551,2.068
            C378.644,273.382,379.051,273.239,379.314,273.008z"/>
          <path class="st2" d="M381.8,272.183v-3.542h0.813v3.41c0,0.836,0.242,1.354,1.178,1.354c0.495,0,0.946-0.209,1.231-0.396v-4.367
            h0.814v5.357h-0.814v-0.429c-0.253,0.197-0.792,0.517-1.484,0.517C382.239,274.086,381.8,273.271,381.8,272.183z"/>
          <path class="st2" d="M387.135,271.424c0-1.573,0.77-2.871,2.398-2.871c0.659,0,1.045,0.132,1.309,0.274v0.671
            c-0.297-0.153-0.693-0.274-1.221-0.274c-1.199,0-1.65,0.847-1.65,2.2c0,1.331,0.638,1.991,1.738,1.991
            c0.594,0,0.946-0.121,1.243-0.286v0.671c-0.33,0.165-0.76,0.286-1.375,0.286C388.059,274.086,387.135,273.062,387.135,271.424z"
            />
          <path class="st2" d="M391.535,268.641h0.736l0.154-1.431h0.66v1.431h1.232v0.627h-1.232v3.224c0,0.648,0.22,0.913,0.759,0.913
            c0.265,0,0.518-0.066,0.66-0.133v0.672c-0.153,0.055-0.473,0.143-0.825,0.143c-0.945,0-1.408-0.407-1.408-1.485v-3.333h-0.736
            V268.641z"/>
          <path class="st2" d="M395.538,267.012c0-0.308,0.253-0.561,0.562-0.561c0.308,0,0.561,0.253,0.561,0.561
            c0,0.309-0.253,0.562-0.561,0.562C395.791,267.573,395.538,267.32,395.538,267.012z M395.692,268.641h0.813v5.357h-0.813
            V268.641z"/>
          <path class="st2" d="M397.893,271.324c0-1.44,0.715-2.771,2.343-2.771c1.629,0,2.333,1.221,2.333,2.771
            c0,1.441-0.727,2.762-2.344,2.762S397.893,272.876,397.893,271.324z M401.721,271.324c0-0.989-0.275-2.112-1.496-2.112
            c-1.222,0-1.475,1.123-1.475,2.112c0,0.99,0.265,2.102,1.485,2.102C401.457,273.426,401.721,272.314,401.721,271.324z"/>
          <path class="st2" d="M403.865,268.641h0.813v0.429c0.253-0.198,0.792-0.517,1.485-0.517c1.299,0,1.738,0.813,1.738,1.902v3.543
            h-0.813v-3.41c0-0.837-0.242-1.354-1.178-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.813V268.641z"/>
          <path class="st2" d="M411.797,271.347c0-1.562,0.935-2.794,2.464-2.794c0.506,0,0.902,0.143,1.067,0.23v-2.267h0.814v7.481
            h-0.814v-0.429c-0.198,0.23-0.683,0.517-1.31,0.517C412.566,274.086,411.797,273.041,411.797,271.347z M415.328,273.008v-3.564
            c-0.209-0.088-0.55-0.209-0.968-0.209c-1.145,0-1.694,0.814-1.694,2.079c0,1.145,0.374,2.068,1.551,2.068
            C414.657,273.382,415.064,273.239,415.328,273.008z"/>
          <path class="st2" d="M418.814,267.122c0,0.715-0.506,1.441-0.99,1.826l-0.407-0.341c0.385-0.418,0.518-0.727,0.518-1.375
            c0-0.265-0.044-0.539-0.1-0.716h0.925C418.792,266.715,418.814,266.902,418.814,267.122z"/>
          <path class="st2" d="M419.617,271.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C420.442,274.086,419.617,272.975,419.617,271.336z M420.497,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C421.355,269.224,420.673,269.487,420.497,270.676z M422.599,266.517h1.199l-1.485,1.387
            h-0.727L422.599,266.517z"/>
          <path class="st2" d="M425.282,268.641h0.813v0.429c0.253-0.198,0.793-0.517,1.485-0.517c1.299,0,1.738,0.813,1.738,1.902v3.543
            h-0.813v-3.41c0-0.837-0.242-1.354-1.178-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.813V268.641z"/>
          <path class="st2" d="M430.573,271.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C431.398,274.086,430.573,272.975,430.573,271.336z M431.453,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C432.312,269.224,431.629,269.487,431.453,270.676z"/>
          <path class="st2" d="M436.216,268.641h0.814v0.561c0.308-0.374,0.737-0.648,1.342-0.648c0.132,0,0.33,0.032,0.462,0.065v0.759
            c-0.132-0.032-0.318-0.076-0.55-0.076c-0.66,0-0.957,0.241-1.254,0.517v4.181h-0.814V268.641z"/>
          <path class="st2" d="M440.902,272.095c-0.188,0.099-0.342,0.275-0.342,0.462c0,0.265,0.144,0.396,0.528,0.418l0.979,0.056
            c0.979,0.044,1.771,0.396,1.771,1.408c0,1.089-0.979,1.628-2.409,1.628c-1.243,0-2.178-0.473-2.178-1.397
            c0-0.616,0.539-0.99,0.99-1.199c-0.221-0.132-0.407-0.352-0.407-0.748c0-0.385,0.286-0.704,0.572-0.836
            c-0.528-0.286-0.892-0.803-0.892-1.507c0-1.046,0.792-1.826,2.002-1.826c0.209,0,0.419,0.032,0.628,0.088h1.858v0.671h-0.847
            c0.22,0.286,0.363,0.649,0.363,1.067c0,0.99-0.748,1.793-2.003,1.793C441.309,272.172,441.1,272.149,440.902,272.095z
             M443.003,274.482c0-0.518-0.33-0.737-1.298-0.771c-0.396-0.011-0.748-0.033-0.88-0.044c-0.342,0.165-0.76,0.418-0.76,0.924
            c0,0.583,0.616,0.814,1.408,0.814C442.53,275.406,443.003,275.065,443.003,274.482z M442.695,270.379
            c0-0.616-0.374-1.178-1.178-1.178c-0.792,0-1.177,0.562-1.177,1.178c0,0.615,0.385,1.154,1.177,1.154
            C442.321,271.533,442.695,270.994,442.695,270.379z"/>
          <path class="st2" d="M445.137,267.012c0-0.308,0.253-0.561,0.562-0.561c0.308,0,0.561,0.253,0.561,0.561
            c0,0.309-0.253,0.562-0.561,0.562C445.39,267.573,445.137,267.32,445.137,267.012z M445.291,268.641h0.814v5.357h-0.814V268.641
            z"/>
          <path class="st2" d="M447.491,271.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C448.316,274.086,447.491,272.975,447.491,271.336z M448.371,270.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C449.229,269.224,448.547,269.487,448.371,270.676z"/>
          <path class="st2" d="M395.379,280.641h0.858l1.463,4.422l1.441-4.422h0.814l-1.87,5.357h-0.848L395.379,280.641z"/>
          <path class="st2" d="M400.582,283.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C401.407,286.086,400.582,284.975,400.582,283.336z M401.462,282.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C402.32,281.224,401.638,281.487,401.462,282.676z"/>
          <path class="st2" d="M406.225,280.641h0.814v0.561c0.308-0.374,0.737-0.648,1.342-0.648c0.132,0,0.33,0.032,0.462,0.065v0.759
            c-0.132-0.032-0.318-0.076-0.55-0.076c-0.66,0-0.957,0.241-1.254,0.517v4.181h-0.814V280.641z"/>
          <path class="st2" d="M409.338,280.641h0.736l0.154-1.431h0.66v1.431h1.232v0.627h-1.232v3.224c0,0.648,0.22,0.913,0.759,0.913
            c0.265,0,0.518-0.066,0.66-0.133v0.672c-0.153,0.055-0.473,0.143-0.825,0.143c-0.945,0-1.408-0.407-1.408-1.485v-3.333h-0.736
            V280.641z"/>
          <path class="st2" d="M412.99,283.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321c0,0.132-0.012,0.274-0.022,0.406
            h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693c-0.309,0.143-0.913,0.308-1.519,0.308
            C413.815,286.086,412.99,284.975,412.99,283.336z M413.87,282.676h2.662v-0.056c0-0.715-0.396-1.396-1.188-1.396
            C414.729,281.224,414.046,281.487,413.87,282.676z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('chauffage') %>">
    <g id="Chauffage_1_">
      <g id="img_10_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_16_" class="st0">
          <defs>
            
              <rect id="SVGID_15_" x="430.894" y="109.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 25.3323 393.4899)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_16_">
            <use xlink:href="#SVGID_15_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_16_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image_1_" xlink:href="<%= asset_path "svg/A7BCA90A794A6328.png" %>"  transform="matrix(0.5124 0 0 0.5124 405.4991 83.9991)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_10_">
        <g id="Ellipse_10_7_" class="st1">
          <g>
            <circle cx="487.75" cy="151.25" r="16.75"/>
          </g>
        </g>
        <g id="Objet_dynamique_vectoriel_xA0_Image_3_">
          <path class="st2" d="M493.147,155.753h-0.242c-0.113,0-0.205-0.092-0.205-0.205v-8.485c0-0.131,0.106-0.237,0.237-0.237
            l0.248,0.001c0.182,0,0.346-0.074,0.464-0.193c0.119-0.119,0.193-0.283,0.193-0.464c0-0.363-0.294-0.657-0.657-0.657
            l-0.248-0.001c-0.13,0-0.237-0.106-0.237-0.237v-0.039c0-0.235-0.095-0.447-0.249-0.601c-0.154-0.154-0.367-0.249-0.601-0.249
            c-0.469,0-0.85,0.38-0.85,0.85v0.039c0,0.13-0.106,0.237-0.237,0.237h-0.575c-0.13,0-0.237-0.106-0.237-0.237v-0.039
            c0-0.235-0.095-0.447-0.249-0.601c-0.155-0.156-0.371-0.251-0.608-0.249c-0.471,0.004-0.843,0.403-0.843,0.873v0.016
            c0,0.13-0.106,0.237-0.237,0.237h-0.622c-0.13,0-0.237-0.106-0.237-0.237v-0.039c0-0.235-0.095-0.447-0.249-0.601
            c-0.155-0.156-0.37-0.251-0.608-0.249c-0.47,0.003-0.843,0.402-0.843,0.873v0.016c0,0.13-0.106,0.237-0.237,0.237h-0.575
            c-0.13,0-0.237-0.106-0.237-0.237c0-0.117-0.024-0.229-0.067-0.331c-0.043-0.102-0.105-0.193-0.182-0.27
            c-0.156-0.156-0.373-0.252-0.611-0.249c-0.47,0.005-0.84,0.404-0.84,0.874v0.212c0,0.001,0,0.002-0.001,0.002h-0.38
            c-0.372,0-0.673,0.31-0.656,0.687c0.015,0.354,0.321,0.628,0.676,0.628h0.36c0.001,0,0.001,0,0.001,0.001v8.721
            c0,0.113-0.091,0.205-0.204,0.205h-0.177c-0.372,0-0.673,0.31-0.656,0.687c0.015,0.354,0.321,0.628,0.676,0.628h0.157
            c0.113,0,0.204,0.091,0.204,0.204v0.039c0,0.462,0.359,0.856,0.821,0.872c0.483,0.017,0.88-0.37,0.88-0.849v-0.061
            c0-0.113,0.092-0.205,0.205-0.205h0.639c0.113,0,0.205,0.091,0.205,0.205v0c0,0.462,0.359,0.856,0.821,0.872
            c0.483,0.016,0.879-0.37,0.879-0.849v-0.023c0-0.113,0.092-0.205,0.205-0.205h0.128v0.024h0.654
            c0.065,0.035,0.109,0.102,0.109,0.181c0,0.231,0.09,0.445,0.237,0.604c0.147,0.158,0.353,0.261,0.584,0.269
            c0.483,0.016,0.88-0.37,0.88-0.849v-0.023c0-0.113,0.092-0.205,0.205-0.205h0.639c0.113,0,0.205,0.091,0.205,0.205v0.023
            c0,0.479,0.397,0.866,0.88,0.849c0.462-0.016,0.82-0.41,0.82-0.872c0-0.056,0.023-0.108,0.06-0.145
            c0.037-0.037,0.088-0.06,0.145-0.06h0.242c0.182,0,0.346-0.074,0.464-0.193c0.119-0.119,0.193-0.283,0.193-0.464
            C493.804,156.047,493.51,155.753,493.147,155.753z M485.455,155.548c0,0.113-0.091,0.205-0.205,0.205h-0.639
            c-0.113,0-0.205-0.092-0.205-0.205v-8.485c0-0.131,0.106-0.237,0.237-0.237h0.575c0.131,0,0.237,0.106,0.237,0.237V155.548z
             M487.36,155.753c-0.113,0-0.205-0.092-0.205-0.205v-8.485c0-0.131,0.106-0.237,0.237-0.237v0.002h0.649
            c0.118,0.013,0.21,0.113,0.21,0.235v8.485c0,0.083-0.049,0.154-0.12,0.186h-0.643v0.019H487.36z M491,155.548
            c0,0.113-0.091,0.205-0.205,0.205h-0.639c-0.113,0-0.205-0.092-0.205-0.205v-8.485c0-0.131,0.106-0.237,0.237-0.237h0.575
            c0.131,0,0.237,0.106,0.237,0.237V155.548z"/>
        </g>
      </g>
      <g id="Chauffage_2_">
        <g>
          <path class="st2" d="M465.908,189.665c0-2.014,1.034-3.609,3.113-3.609c0.726,0,1.276,0.154,1.551,0.286v0.792
            c-0.318-0.187-0.803-0.341-1.496-0.341c-1.54,0-2.267,1.111-2.267,2.872c0,1.649,0.858,2.684,2.388,2.684
            c0.616,0,1.122-0.143,1.507-0.352v0.781c-0.483,0.22-1.056,0.308-1.672,0.308C467.03,193.086,465.908,191.7,465.908,189.665z"/>
          <path class="st2" d="M472.112,185.517h0.813v2.553c0.253-0.198,0.793-0.517,1.485-0.517c1.299,0,1.738,0.813,1.738,1.902v3.543
            h-0.813v-3.41c0-0.837-0.242-1.354-1.178-1.354c-0.495,0-0.946,0.209-1.232,0.396v4.367h-0.813V185.517z"/>
          <path class="st2" d="M481.298,193.086c-0.396,0-0.693-0.22-0.814-0.572c-0.253,0.297-0.803,0.572-1.397,0.572
            c-1.022,0-1.661-0.594-1.661-1.485c0-1.067,0.892-1.639,2.365-1.639c0.177,0,0.43,0.011,0.595,0.021v-0.594
            c0-0.848-0.353-1.155-1.188-1.155c-0.572,0-1.001,0.176-1.31,0.33v-0.715c0.363-0.154,0.869-0.297,1.452-0.297
            c1.167,0,1.859,0.506,1.859,1.661v2.717c0,0.353,0.177,0.474,0.44,0.474c0.065,0,0.132-0.012,0.198-0.022v0.616
            C481.716,193.042,481.562,193.086,481.298,193.086z M479.911,190.545c-1.045,0-1.628,0.297-1.628,0.979
            c0,0.562,0.363,0.892,1.001,0.892c0.462,0,0.869-0.176,1.101-0.407v-1.441C480.274,190.556,480.055,190.545,479.911,190.545z"/>
          <path class="st2" d="M482.892,191.183v-3.542h0.813v3.41c0,0.836,0.242,1.354,1.178,1.354c0.495,0,0.946-0.209,1.231-0.396
            v-4.367h0.814v5.357h-0.814v-0.429c-0.253,0.197-0.792,0.517-1.484,0.517C483.331,193.086,482.892,192.271,482.892,191.183z"/>
          <path class="st2" d="M491.647,188.268H489.7v4.73h-0.813v-4.73h-0.858v-0.627h0.858v-0.539c0-1.057,0.583-1.562,1.496-1.562
            c0.286,0,0.55,0.055,0.682,0.099v0.671c-0.121-0.032-0.286-0.088-0.528-0.088c-0.55,0-0.836,0.231-0.836,0.925v0.495h1.947
            v-0.649c0-1.057,0.562-1.562,1.573-1.562c0.286,0,0.572,0.056,0.704,0.1v0.671c-0.121-0.033-0.286-0.088-0.528-0.088
            c-0.627,0-0.935,0.23-0.935,0.924v0.605h1.276v0.627h-1.276v4.73h-0.814V188.268z"/>
          <path class="st2" d="M498.26,193.086c-0.396,0-0.693-0.22-0.814-0.572c-0.253,0.297-0.803,0.572-1.397,0.572
            c-1.022,0-1.661-0.594-1.661-1.485c0-1.067,0.892-1.639,2.365-1.639c0.177,0,0.43,0.011,0.595,0.021v-0.594
            c0-0.848-0.353-1.155-1.188-1.155c-0.572,0-1.001,0.176-1.31,0.33v-0.715c0.363-0.154,0.869-0.297,1.452-0.297
            c1.167,0,1.859,0.506,1.859,1.661v2.717c0,0.353,0.177,0.474,0.44,0.474c0.065,0,0.132-0.012,0.198-0.022v0.616
            C498.678,193.042,498.523,193.086,498.26,193.086z M496.873,190.545c-1.045,0-1.628,0.297-1.628,0.979
            c0,0.562,0.363,0.892,1.001,0.892c0.462,0,0.869-0.176,1.101-0.407v-1.441C497.236,190.556,497.017,190.545,496.873,190.545z"/>
          <path class="st2" d="M501.009,191.095c-0.188,0.099-0.342,0.275-0.342,0.462c0,0.265,0.144,0.396,0.528,0.418l0.979,0.056
            c0.979,0.044,1.771,0.396,1.771,1.408c0,1.089-0.979,1.628-2.409,1.628c-1.243,0-2.178-0.473-2.178-1.397
            c0-0.616,0.539-0.99,0.99-1.199c-0.221-0.132-0.407-0.352-0.407-0.748c0-0.385,0.286-0.704,0.572-0.836
            c-0.528-0.286-0.892-0.803-0.892-1.507c0-1.046,0.792-1.826,2.002-1.826c0.209,0,0.419,0.032,0.628,0.088h1.858v0.671h-0.847
            c0.22,0.286,0.363,0.649,0.363,1.067c0,0.99-0.748,1.793-2.003,1.793C501.415,191.172,501.206,191.149,501.009,191.095z
             M503.109,193.482c0-0.518-0.33-0.737-1.298-0.771c-0.396-0.011-0.748-0.033-0.88-0.044c-0.342,0.165-0.76,0.418-0.76,0.924
            c0,0.583,0.616,0.814,1.408,0.814C502.637,194.406,503.109,194.065,503.109,193.482z M502.802,189.379
            c0-0.616-0.374-1.178-1.178-1.178c-0.792,0-1.177,0.562-1.177,1.178c0,0.615,0.385,1.154,1.177,1.154
            C502.428,190.533,502.802,189.994,502.802,189.379z"/>
          <path class="st2" d="M504.892,190.336c0-1.629,0.891-2.783,2.376-2.783s2.014,1.166,2.014,2.321
            c0,0.132-0.012,0.274-0.022,0.406h-3.531v0.022c0,1.232,0.495,2.112,1.738,2.112c0.638,0,1.122-0.144,1.496-0.33v0.693
            c-0.309,0.143-0.913,0.308-1.519,0.308C505.717,193.086,504.892,191.975,504.892,190.336z M505.771,189.676h2.662v-0.056
            c0-0.715-0.396-1.396-1.188-1.396C506.63,188.224,505.947,188.487,505.771,189.676z"/>
        </g>
      </g>
    </g>
  </a>
  <a xlink:href="<%= category_path('isolation') %>">
    <g id="Isolation_1_">
      <g id="img_9_">
        <g id="Rectangle_31__x2B__Rectangle_28_copie_5_18_" class="st0">
          <defs>
            
              <rect id="SVGID_17_" x="511.894" y="28.41" transform="matrix(0.7071 -0.7071 0.7071 0.7071 106.3323 427.0412)" class="st0" width="113.513" height="113.513"/>
          </defs>
          <clipPath id="SVGID_18_">
            <use xlink:href="#SVGID_17_"  style="overflow:visible;"/>
          </clipPath>
          <g style="clip-path:url(#SVGID_18_);">
            
              <image style="overflow:visible;" width="322" height="322" id="Rectangle_31__x2B__Rectangle_28_copie_5_xA0_Image" xlink:href="<%= asset_path "svg/A7BCA90A794A632F.png" %>"  transform="matrix(0.5256 0 0 0.5256 482.25 2)">
            </image>
          </g>
        </g>
      </g>
      <g id="picto_9_">
        <g id="Ellipse_10_8_" class="st1">
          <g>
            <circle cx="568.75" cy="70.25" r="16.75"/>
          </g>
        </g>
        <path class="st3" d="M567.923,67.71c-0.045-0.602,0.142-1.186,0.512-1.603c0.359-0.404,0.864-0.625,1.447-0.622
          c0.639,0.002,1.266,0.283,1.676,0.751c0.017,0.02,0.038,0.035,0.059,0.049l2.881,2.848c-1.358-0.144-2.758,0.989-2.964,2.43
          c-0.024,0.196-0.025,0.395-0.003,0.59l-2.84-2.928c-0.015-0.024-0.033-0.047-0.056-0.066c-0.029-0.024-0.054-0.05-0.081-0.075
          l-0.088-0.09c-0.002-0.003-0.006-0.003-0.008-0.006C568.153,68.654,567.96,68.201,567.923,67.71z"/>
        <path class="st3" d="M576.279,72.625c-0.408,1.63-1.746,2.056-2.499,2.164c-2.446,0.272-4.824,0.237-7.125,0.203
          c-0.714-0.011-1.451-0.021-2.179-0.022c-1.174-1.686-2.318-3.478-3.326-5.218c0.221,0,0.45-0.002,0.702-0.005
          c0.011,0,0.021-0.001,0.032-0.002h6.552l3.816,3.937c0.008,0.008,0.017,0.014,0.026,0.021c0.008,0.009,0.016,0.018,0.024,0.027
          c0.543,0.535,1.25,0.787,1.942,0.69c0.149-0.021,0.254-0.159,0.233-0.308s-0.158-0.254-0.308-0.233
          c-0.521,0.073-1.062-0.123-1.482-0.538c-0.458-0.452-0.685-1.09-0.609-1.704c0.165-1.159,1.343-2.108,2.429-1.955
          c0.39,0.049,0.751,0.223,1.052,0.498l0.12,0.119c0.08,0.085,0.156,0.177,0.225,0.277C576.31,71.17,576.451,71.936,576.279,72.625
          z"/>
      </g>
      <g id="Isolation_2_">
        <g>
          <path class="st2" d="M550.609,105.144h0.858v6.854h-0.858V105.144z"/>
          <path class="st2" d="M552.941,111.789v-0.704c0.33,0.154,0.945,0.33,1.44,0.33c0.771,0,1.178-0.264,1.178-0.869
            c0-0.561-0.353-0.682-1.166-0.979c-0.837-0.297-1.408-0.682-1.408-1.529c0-1.023,0.726-1.485,1.793-1.485
            c0.572,0,1.067,0.132,1.31,0.242v0.715c-0.254-0.121-0.771-0.286-1.287-0.286c-0.672,0-1.023,0.264-1.023,0.749
            c0,0.451,0.297,0.649,0.979,0.88c0.749,0.253,1.629,0.583,1.629,1.639c0,0.979-0.76,1.595-1.882,1.595
            C553.964,112.086,553.315,111.976,552.941,111.789z"/>
          <path class="st2" d="M557.254,109.325c0-1.441,0.715-2.772,2.343-2.772c1.629,0,2.333,1.221,2.333,2.772
            c0,1.441-0.727,2.761-2.344,2.761S557.254,110.876,557.254,109.325z M561.082,109.325c0-0.99-0.275-2.112-1.496-2.112
            c-1.222,0-1.475,1.122-1.475,2.112s0.265,2.101,1.485,2.101C560.818,111.426,561.082,110.315,561.082,109.325z"/>
          <path class="st2" d="M563.227,104.517h0.813v7.481h-0.813V104.517z"/>
          <path class="st2" d="M569.232,112.086c-0.396,0-0.693-0.22-0.814-0.572c-0.253,0.297-0.803,0.572-1.397,0.572
            c-1.022,0-1.661-0.594-1.661-1.485c0-1.067,0.892-1.64,2.365-1.64c0.177,0,0.43,0.011,0.595,0.022v-0.594
            c0-0.847-0.353-1.155-1.188-1.155c-0.572,0-1.001,0.176-1.31,0.33v-0.715c0.363-0.154,0.869-0.297,1.452-0.297
            c1.167,0,1.859,0.506,1.859,1.661v2.717c0,0.352,0.177,0.473,0.44,0.473c0.065,0,0.132-0.011,0.198-0.022v0.616
            C569.65,112.042,569.496,112.086,569.232,112.086z M567.846,109.545c-1.045,0-1.628,0.297-1.628,0.979
            c0,0.561,0.363,0.891,1.001,0.891c0.462,0,0.869-0.176,1.101-0.407v-1.441C568.209,109.556,567.989,109.545,567.846,109.545z"/>
          <path class="st2" d="M570.244,106.64h0.736l0.154-1.43h0.66v1.43h1.232v0.627h-1.232v3.223c0,0.649,0.22,0.913,0.759,0.913
            c0.265,0,0.518-0.066,0.66-0.132v0.671c-0.153,0.055-0.473,0.143-0.825,0.143c-0.945,0-1.408-0.407-1.408-1.485v-3.333h-0.736
            V106.64z"/>
          <path class="st2" d="M574.248,105.012c0-0.308,0.253-0.561,0.562-0.561c0.308,0,0.561,0.253,0.561,0.561
            s-0.253,0.561-0.561,0.561C574.501,105.573,574.248,105.32,574.248,105.012z M574.402,106.64h0.814v5.358h-0.814V106.64z"/>
          <path class="st2" d="M576.602,109.325c0-1.441,0.715-2.772,2.343-2.772c1.629,0,2.333,1.221,2.333,2.772
            c0,1.441-0.727,2.761-2.344,2.761S576.602,110.876,576.602,109.325z M580.43,109.325c0-0.99-0.275-2.112-1.496-2.112
            c-1.222,0-1.475,1.122-1.475,2.112s0.265,2.101,1.485,2.101C580.166,111.426,580.43,110.315,580.43,109.325z"/>
          <path class="st2" d="M582.575,106.64h0.813v0.429c0.253-0.198,0.793-0.517,1.485-0.517c1.299,0,1.738,0.814,1.738,1.903v3.542
            h-0.813v-3.411c0-0.836-0.242-1.353-1.178-1.353c-0.495,0-0.946,0.209-1.232,0.396v4.368h-0.813V106.64z"/>
        </g>
      </g>
    </g>
  </a>
</g>
<g id="Calque_52_1_">
</g>
</svg>