<section class="jumbotron">
  <div class="container">
    <h1>Baseline</h1>
    <%= form_for search_path, url: search_path, :html => {:class => 'search-bar'}, method: :get do |f| %>
      <%= text_field_tag :search, params[:search], :class => 'search-field', placeholder: 'Recherche' %>
      <%= submit_tag "", name: nil, :class => 'btn btn-default search-button' %>
    <% end %>
  </div>
</section>
<section class="categories-home">
  <div class="container">
    <div class="row">
      <div class="col-md-24 hidden-xs">
        <!-- SVG catégories -->
        <%= render 'svg'%>
      </div>
      <div class="visible-xs-24 visible-xs-block">
        <div class="row">
          <div class="col-xs-8 peintures-colles">
            <div class="icon-peintures-colles"></div>
            <p>Peintures & colles</p>
          </div>
          <div class="col-xs-8 enduits">
            <div class="icon-enduits"></div>
            <p>Enduits</p>
          </div>
          <div class="col-xs-8 economie-energie">
            <div class="icon-economie-energie"></div>
            <p>Economie d'énergie</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 bois">
            <div class="icon-bois"></div>
            <p>Bois</p>
          </div>
          <div class="col-xs-8 portes-fenetres">
            <div class="icon-portes-fenetres"></div>
            <p>Portes & fenêtres</p>
          </div>
          <div class="col-xs-8 production-energie-verte">
            <div class="icon-production-energie-verte"></div>
            <p>Production d'énergie verte</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 gros-oeuvre">
            <div class="icon-gros-oeuvre"></div>
            <p>Gros oeuvres</p>
          </div>
          <div class="col-xs-8 chauffage">
            <div class="icon-chauffage"></div>
            <p>Chauffage</p>
          </div>
          <div class="col-xs-8 isolation">
            <div class="icon-isolation"></div>
            <p>Isolation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="materials-home">
  <div class="container">
    <h2 class="home-title-section">Matériaux de sources vérifiés</h2>
    <div class="grey-bar-title"></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non turpis vitae magna commodo sodales. Aenean vitae dignissim urna, et tincidunt magna. Pellentesque facilisis sem ac felis mollis, eget luctus odio facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi. Donec risus mauris,</p> 
  </div>
  <%= image_tag("materials.svg") %>
</section>
<section class="tutoriels-home container-fluid text-center">
  <div class="row">
    <div class="col-md-24">
      <h2 class="home-title-section">Tutoriels</h2>
      <div class="grey-bar-title"></div>
      <p class="home-p-section">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-24">
      <div id="owl-tutoriels" class="owl-carousel row">
        <% @tutorials.each do |tutorial| %>
          <div class="col-md-24">
            <%= render "shared/tutorial_block", tutorial: tutorial %>
          </div>
        <% end %>
      </div>
      <%= link_to "Tous les tutoriels", tutorials_path, class: 'btn-default' %>
    </div>
  </div>
</section>
<section class="howItWork-home text-center">
  
    <h2 class="home-title-section">Comment ça marche</h2>
    <div class="grey-bar-title"></div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-md-14">
              <%= image_tag("ccm1.png") %>
            </div>
            <div class="item-description col-md-10">
              <h3>Lorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor hendrerit est id auctor. Cras quis sagittis arcu. Pellentesque vitae blandit diam. Mauris lacinia tincidunt purus, quis posuere metus. Donec tincidunt lacus vel est </p>
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="col-md-14">
              <%= image_tag("ccm1.png") %>
            </div>
            <div class="item-description col-md-10">
              <h3>Lorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor hendrerit est id auctor. Cras quis sagittis arcu. Pellentesque vitae blandit diam. Mauris lacinia tincidunt purus, quis posuere metus. Donec tincidunt lacus vel est </p>
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="col-md-14">
              <%= image_tag("ccm1.png") %>
            </div>
            <div class="item-description col-md-10">
              <h3>Lorem ipsum</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porttitor hendrerit est id auctor. Cras quis sagittis arcu. Pellentesque vitae blandit diam. Mauris lacinia tincidunt purus, quis posuere metus. Donec tincidunt lacus vel est </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</section>
<section class="articles-home container-fluid text-center">
  <div class="row">
    <div class="col-md-24">
      <h2 class="home-title-section">Articles</h2>
      <div class="grey-bar-title"></div>
      <p class="home-p-section">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
    </div>
  </div>
  <div id="owl-articles" class="owl-carousel row">
    <% (0..6).each do |i| %>
      <div class="col-md-24">
        <div class="article text-left">
          <%= image_tag("img-article-default.png") %>
          <div class="info-article">
            <h3>titre article</h3>
            <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <div>
              <span class="date"><i class="fa fa-clock-o"></i> 6 octobre 2015</span> <span class="author"><i class="fa fa-user"></i> Climatériaux</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-24">
      <a href="http://blog.climateriaux.fr" class="btn-default">Tous les articles</a>
    </div>
  </div>
</section>
<section class="certification">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12 paiement">
        <div class="image-paiement"></div>
        <p>Paiement sécurisé assuré<br>par Paypal</p>
      </div>
      <div class="col-md-6 col-xs-12 livraison">
        <div class="image-livraison"></div>
        <p>Livraison à l’adresse<br>de votre choix</p>
      </div>
      <div class="col-md-6 col-xs-12 retour">
        <div class="image-retour"></div>
        <p>Retour gratuit sous 15 jours</p>
      </div>
      <div class="col-md-6 col-xs-12 source">
        <div class="image-source"></div>
        <p>Matériaux de sources vérifiées</p>
      </div>
    </div>
  </div>
</section>