<section class="jumbotron">
  <div class="container">
    <h1>Tout pour votre projet, au même endroit</h1>
    <!--
    <%= form_for search_path, url: search_path, :html => {:class => 'search-bar'}, method: :get do |f| %>
      <%= text_field_tag :search, params[:search], :class => 'search-field', placeholder: 'Rechercher sur Climateriaux' %>
      <%= button_tag(type: 'submit', class: "btn btn-default search-button") do %>
        <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
    <% end %>-->
  </div>
</section>
<section class="categories-home">
  <div class="container">
    <div class="row">
      <div class="col-md-24 hidden-xs">
        <!-- SVG catégories -->
        <%= render 'svg'%>
      </div>
      <div class="visible-xs-24 visible-xs-block">
        <%= render 'responsive_categories'%>
      </div>
    </div>
  </div>
</section>
<section class="materials-home">
  <div class="container">
    <h2 class="home-title-section">Nos matériaux de sources vérifiées</h2>
    <div class="grey-bar-title"></div>
    <p>Tous les matériaux en vente sur Climateriaux son sélectionnés sur différents critères de façon à minimiser leur impact carbone. Nous pré-sélectionnons pour vous les marchants les plus proches de votre lieu de livraison de façon à réduire le transport. Nos partenaires s'engagent à respecter des normes écologiques strictes pour la production de leurs produits et la gestion de leur infrastructure. Enfin nous priorisons les produit biosourcés aux produits classiques pour vous fournir les meilleurs produits, en accord avec l'environement.</p>
  </div>
  <%= image_tag("materials.svg") %>
</section>
<section class="tutoriels-home container-fluid text-center">
  <div class="row">
    <div class="col-md-24">
      <h2 class="home-title-section">Nos tutoriels pratiques</h2>
      <div class="grey-bar-title"></div>
      <p class="home-p-section">Nous vous concoctons régulièrement de nouveaux tutoriels pour vous accompagner dans la plannification de vos projets, le choix de vos produits, la réalisation de vos traveaux, ainsi que l'entretient de vos matériaux.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-24">
      <div id="owl-tutoriels" class="owl-carousel row">
        <% @tutorials.each do |tutorial| %>
          <div class="col-md-24">
            <%= render "shared/tutorial_block", tutorial: tutorial %>
          </div>
        <% end %>
      </div>
      <%= link_to "Tous nos tutoriels", tutorials_path, class: 'btn-default' %>
    </div>
  </div>
</section>
<section class="howItWork-home text-center">

    <h2 class="home-title-section">Comment ça marche</h2>
    <div class="grey-bar-title"></div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="row">
            <div class="col-md-12">
              <%= image_tag("ccm1.png") %>
            </div>
            <div class="item-description col-md-12">
              <h3>Tout ce dont vous avez besoin, au même endroit</h3>
              <p>Nous travaillons à maintenir un catalogue de produits et de marchands le plus fourni et diversifié possible. Tout ce dont vous avez besoin se trouve sur Climateriaux, plannifiez tous vos achats au même endroit et retrouver clairement le suivi de votre budget.<br>Tous les produits sont rangés par nos soins dans les catégories les plus adaptés de façon à vous faire gagner du temps, et vous permettre de trouver facilement ce dont vous avez besoin.</p>
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="col-md-12">
              <%= image_tag("ccm2.png") %>
            </div>
            <div class="item-description col-md-12">
              <h3>Une communauté d'entre aide et de conseil</h3>
              <p>Climateraiux n'est pas seulement un marché, c'est aussi un lieu d'échange sur lequel vous pouvez discuter de vos travaux, trouver des conseil avisés, et demander de l'aide à tout moment. Nous mettons en avant les échanges communautaires, car c'est en retrouvant des gens comme vous et aux expérience similaires que votre projet gagnera en maturité.<br><br>Retrouvez la plateforme d'entraide sur : <a href="#">communaute.climateriaux.fr</a></p>
            </div>
          </div>
        </div>
        <div class="item ">
          <div class="row">
            <div class="col-md-12">
              <%= image_tag("ccm1.png") %>
            </div>
            <div class="item-description col-md-12">
              <h3>Des outils pour calculer et comprendre</h3>
              <p>Parce qu'on a toujours besoin d'un petit coup de pouce, Climateriaux vous propose un ensemble d'outils d'aide et de calculs comme pour vous éclairer dans les taches les plus complexes : <br>Estimation des économies d'énergie apportées par votre projet<br>Calcul des déductions d'impots</br>Démarches à mettre en place pour profiter de subventions</p>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
<section class="articles-home container-fluid text-center">
  <div class="row">
    <div class="col-md-24">
      <h2 class="home-title-section">Notre vision</h2>
      <div class="grey-bar-title"></div>
      <p class="home-p-section">Nous nous exprimons aussi sur divers sujets d'actualité axés sur l'écologie et le développement durable. Découvrez les billets de blog Climateriaux.</p>
    </div>
  </div>
  <div id="owl-articles" class="owl-carousel row">
    <% (0..6).each do |i| %>
      <div class="col-md-24">
        <div class="article text-left">
          <%= image_tag("img-article-default.png") %>
          <div class="info-article">
            <h3>titre article</h3>
            <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            <div>
              <span class="date"><i class="fa fa-clock-o"></i> 6 octobre 2015</span> <span class="author"><i class="fa fa-user"></i> Climatériaux</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-24">
      <a href="http://blog.climateriaux.fr" class="btn-default">Le Blog Climateriaux</a>
    </div>
  </div>
</section>
