<div class="well">

  <div class="row">
    <div class="col-xs-14">
      <%= link_to product_path(product.slug) do %>
        <h4><%= product.name %></h4>
      <% end %>
    </div>
    <div class="col-xs-10">
      <%= form_for order_item, remote: true do |f| %>
        <h4 class="text-right">Prix unitaire: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-xs-8">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-16 text-right">
            <div class="btn-group">
              <%= f.submit "Mettre à jour la quantité", class: "btn btn-primary" %>
              <%= link_to "Supprimer", order_item, { data: { confirm: "Êtes-vous sur de vouloir supprimer le produit '#{order_item.product.name}' de votre panier ?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Prix total : <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
      <% end %>
    </div>
    
  </div>
</div>