<h3>Création d'un nouveau produit</h3>

<%= form_for @product, url: {action: "create"}, html: {class: 'panel'} do |f| %>
  <% if @product.errors.any? %>
    <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <div role="tabpanel">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" class="active">
        <a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Informations du produit</a>
      </li>
      <li role="presentation">
        <a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">SEO Metadata</a>
      </li>
      <li role="presentation">
        <a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">Images</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="edit" role="tabpanel" class="tab-pane active">
        <fieldset>
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: 'form-control', placeholder: "Nom du produit" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :description, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_area :description, class: 'form-control', placeholder: "Description du produit" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :slug, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :slug, class: 'form-control', placeholder: "nom-du-produit" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :marque, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :marque, class: 'form-control', placeholder: "Marque du produit" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :price, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :price, class: 'form-control', placeholder: "15,60" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :quantity, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.number_field :quantity, class: 'form-control', placeholder: "200" %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :category_id, class: 'col-sm-2 control-label' %>
            <div class="col-md-10">
              <%= f.select :category_id, @categories.collect {|c| [ c.name, c.id ] }, {}, { :class => "form-control" } %>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <%= f.label :active, class: 'col-sm-2 control-label' %>
            <div class="col-md-10">
              <%= f.select :active, [['oui', true], ['non', false]], {}, { :class => "form-control" } %>
            </div>
          </div>
        </fieldset>
      </div>
      <div id="seo" role="tabpanel" class="tab-pane">
        <fieldset>
          <div class="form-group">
            <label class="col-md-2 control-label">Title</label>
            <div class="col-md-10">
              <input type="text" placeholder="Brief description.." class="form-control">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
              <textarea rows="5" placeholder="Max 255 characters..." class="form-control"></textarea>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="form-group">
            <label class="col-md-2 control-label">Keywords</label>
            <div class="col-md-10">
              <textarea rows="5" placeholder="Max 1000 characters..." class="form-control"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div id="picture" role="tabpanel" class="tab-pane">
        <div class="row mb-lg">
          <div class="col-xs-3">
            <strong>Preview</strong>
          </div>
          <div class="col-xs-9">
            <strong>Details</strong>
          </div>
        </div>
        <div>
          <%= f.fields_for :product_images do |product_image| %>
            <%= render 'product_image_fields', f: product_image %>
            <%= link_to_add_association 'Ajouter une image', f, :product_images, { class: 'btn btn-sm btn-primary' } %>
          <% end %>
        </div>
      </div>
      <fieldset>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-2">
            <%= link_to "Retour", admin_products_path, class: 'btn mb-sm btn-default' %>
            <%= f.submit "Enregistrer", class: "btn mb-sm btn-primary" %>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
<% end %>