<div class="well">

  <div class="row">
    <div class="col-xs-16">
      <h4><%= product.name %></small></h4>
    </div>
    <div class="col-xs-8">  
      <%= form_for @order_item, remote: true do |f| %>
      <h4 class="text-right">Prix unitaire : <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Ajouter au panier", class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>