<div class="container-fluid page-category">
  <%= render partial: "categories/header_img" %>
  <div class="row">
    <div class="col-md-23 col-md-offset-1">
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Accueil', root_path %>
        </li>
        <% if @parent_category %>
          <li>
            <%= link_to @parent_category.name, category_path(@parent_category.slug) %>
          </li>
        <% end %>
        <li class="active">
          <%= @category.name %>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="category-sidebar box col-md-5 col-md-offset-1">
      <%= render partial: "categories/sidebar" %>
    </div>
    <div class="col-xs-24 col-md-16 col-md-offset-1">
      <% nbr_product = 0 %>
      <% @products.each do |product| %>
        <% nbr_product += 1 %>
        <% if nbr_product == 1 %>
          <div class="row">
        <% end %>
        <div class="col-md-8 col-xs-24">
          <%= render "product_row", product: product, order_item: @order_item %>
        </div>
        <% if nbr_product == 3 %>
          </div>
          <% nbr_product = 0 %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-24 col-md-22 col-md-offset-1">
      <div class="col-xs-24">
        <nav>
          <ul class="pagination">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li class="disabled">
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <%= render partial: "categories/bloc_tutoriels" %>
</div>