<!--<div class="">
    <%= image_tag 'picture.png' %>
    <%# image_tag product_image.image %>
</div>
<div class="">
	<div class="row">
		<div class="col-md-8">
			<%= image_tag 'picture.png' %>
		</div>
		<div class="col-md-8">
			<%= image_tag 'picture.png' %>
		</div>
		<div class="col-md-8">
			<%= image_tag 'picture.png' %>
		</div>
	</div>
</div>-->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'picture.png' %>
    </div>
    <div class="item">
      <%= image_tag 'picture.png' %>
    </div>
    <div class="item">
      <%= image_tag 'picture.png' %>
    </div>
  </div>
  <ul>
  	<div class="row">
	  	<div class="col-md-8">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
		    	 <%= image_tag 'picture.png' %>
		    </li>
		</div>
		<div class="col-md-8">
		    <li data-target="#carousel-example-generic" data-slide-to="1">
		    	 <%= image_tag 'picture.png' %>
		    </li>
		</div>
		<div class="col-md-8">
		    <li data-target="#carousel-example-generic" data-slide-to="2">
		    	 <%= image_tag 'picture.png' %>
		    </li>
		</div>
	</div>
  </ul>
</div>