<%= form_for @order_item, remote: true do |f| %>
<div class="choose-product-block">
  <div class="bloc-title">
    <span class="icon-choose-product"></span>
    <h3>Le produit</h3>
  </div>
  <div class="select-product">
    <div class="shipping-cost">
      <span>Livraison</span>
      <span class="pull-right text-right">3 à 4 jours ouvrés</span>
    </div>
    <div class="">
      <span>Disponibilité</span>
      <span class="pull-right">En Stock</span>
    </div>
    <div class="product-question">
      <span>Quantité</span>
      <%= f.number_field :quantity, value: 1, class: "form-control input-default", min: 1 %>
      <%= f.hidden_field :product_id, value: @product.id %>
    </div>
    <div class="price">
      <span>Prix <small>TTC</small></span>
      <span class="pull-right"><%= number_to_currency @product.price %> /m2</span>
    </div>
    <%= f.submit "Ajouter au panier", class: "add-to-cart" %>
  </div>
</div>
<div class="customer-product-block">
  <div class="bloc-title">
    <span class="icon-customer-product"></span>
    <h3>Votre vendeur</h3>
  </div>
  <div class="select-customer">
    <img class="img-customer">
    <h4>Smartagro</h4>
    <span>96 % de satisfaits (230 sur 240 clients)</span>
    <p>« Livraison rapide et produit conforme. Je recommande ! » John Doe, 03/02/16</p>
    <a href="#">Lire les 26 avis</a>
  </div>
</div>
<% end %>
