<div class="container-fluid page-product">
  <div class="row">
    <div class="col-md-22 col-md-offset-2">
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Accueil', root_path %>
        </li>
        <% if @product.category.parent_category %>
          <li>
            <%= link_to @product.category.parent_category.name, category_path(@product.category.parent_category.slug) %>
          </li>
        <% end %>
        <li>
          <%= link_to @product.category.name, category_path(@product.category.slug) %>
        </li>
        <li class="active"><%= @product.name %></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-md-offset-1 product-block">
      <% @product.product_images.each do |product_image| %>
        <%= image_tag 'image_produit.png' %>
        <%= image_tag product_image.image.url(:web, :product) %>
        <%# image_tag product_image.image %>
      <% end %>
    </div>
    <div class="col-md-8 col-md-offset-1">
      <p class="product-marque"><%= @product.marque %>ISOCOR</p>
      <h3 class="product-title"><%= @product.name %></h3>
      <p class="product-description">
        <%= @product.description %>
        Liège naturel expansé pur conditionné en panneau rigide. Isolant thermique et phonique, le liège est obtenu à partir du chêne liège, réduit en granulés puis expansé à la vapeur. L’énergie, nécessaire à l’expansion du liège… 
        <a href="#">voir plus</a>
      </p>
      <div class="product-review">
        <span>avis client</span>
        <div class="product-stars-container">
          <div class="contentRating" style="width:90%">
            <div class="ratingvalue"></div>
          </div>
        </div>
        <span>9,2/10</span>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>ISOLATION PHONIQUE</h4>
          <p>15 à 20 % de bruit en moins</p>
        </div>
        <div class="col-md-12">
          <h4>ISOLATION PHONIQUE</h4>
          <p>15 à 20 % de bruit en moins</p>
        </div>
      </div>
      <div class="product-amount">
        <h4>CALCULEZ LA QUANTITÉ JUSTE À ACHETER</h4>
        <div class="row">
          <div class="col-md-12">
            <input type="text" placeholder="surface en m2">
          </div>
          <div class="col-md-12">
            <input type="text" placeholder="Quantité estimé">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <%= render partial: "products/price_bar" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-md-offset-1 detail-product-block">
      <p class="title-detail-product">Détails techniques</p>
      <div class="content-detail-product">
        <div class="row">
        <% @product.technical_details.each do |technical_detail| %>
          <% if technical_detail.detail.length > 50 %>
            <div class="col-md-24">
              <p class="title-detail"><%= technical_detail.title %></p>
              <p class="text-detail"><%= technical_detail.detail.html_safe %></p>
            </div>
          <% else %>
            <div class="col-md-12">
              <p class="title-detail"><%= technical_detail.title %></p>
              <p class="text-detail"><%= technical_detail.detail.html_safe %></p>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-md-offset-1 like-product-block">
      
    </div>
  </div>
</div>
