<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav class="sidebar" data-sidebar-anyclick-close="">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div id="user-block" class="collapse">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img src="<%= image_path('angle/user/02.jpg') %>" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">Hello, Mike</span>
                     <span class="user-block-role">Designer</span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li class="nav-heading">
            <span>Main Navigation</span>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'dashboard' %>">
            <%= link_to admin_path do %>
              <em class="icon-speedometer"></em>
              <span data-localize="sidebar.nav.WIDGETS">Dashboard</span>
            <% end %>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'products' %>">
            <%= link_to admin_products_path do %>
              <em class="fa fa-cube"></em>
              <span data-localize="sidebar.nav.WIDGETS">Produits</span>
            <% end %>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'tutorials' %>">
            <%= link_to admin_tutorials_path do %>
              <em class="icon-book-open"></em>
              <span data-localize="sidebar.nav.WIDGETS">Tutoriels</span>
            <% end %>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'widgets' && controller.action_name == 'index' %>">
            <a href="/widgets" title="Widgets">
               <div class="label label-success pull-right">30</div>
               <em class="icon-grid"></em>
               <span data-localize="sidebar.nav.WIDGETS">Widgets</span>
            </a>
         </li>
         <!-- Layouts -->
         <li>
            <a href="#layout" title="Layouts" data-toggle="collapse">
               <em class="icon-layers"></em>
               <span>Layouts</span>
            </a>
            <ul id="layout" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Layouts</li>
               <li>
                  <a href="/dashboard/dashboard_h" title="Dashboard Horizontal">
                     <span>Horizontal</span>
                  </a>
               </li>
            </ul>
         </li>
         <!-- /Layouts -->
         <li class="nav-heading">
            <span>Components</span>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'elements' %>">
            <a href="#elements" title="Elements" data-toggle="collapse">
               <em class="icon-chemistry"></em>
               <span data-localize="sidebar.nav.element.ELEMENTS">Elements</span>
            </a>
            <ul id="elements" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Elements</li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'button' %>">
                  <a href="/elements/button" title="Buttons">
                     <span data-localize="sidebar.nav.element.BUTTON">Buttons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'notification' %>">
                  <a href="/elements/notification" title="Notifications">
                     <span data-localize="sidebar.nav.element.NOTIFICATION">Notifications</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'sweetalert' %>">
                  <a href="/elements/sweetalert" title="Sweet Alert">
                     <span>Sweet Alert</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'tour' %>">
                  <a href="/elements/tour" title="Tour">
                     <span>Tour</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'carousel' %>">
                  <a href="/elements/carousel" title="Carousel">
                     <span data-localize="sidebar.nav.element.INTERACTION">Carousel</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'spinner' %>">
                  <a href="/elements/spinner" title="Spinners">
                     <span data-localize="sidebar.nav.element.SPINNER">Spinners</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'animation' %>">
                  <a href="/elements/animation" title="Animations">
                     <span data-localize="sidebar.nav.element.ANIMATION">Animations</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'dropdown' %>">
                  <a href="/elements/dropdown" title="Dropdown">
                     <span data-localize="sidebar.nav.element.DROPDOWN">Dropdown</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'nestable' %>">
                  <a href="/elements/nestable" title="Nestable">
                     <span>Nestable</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'sortable' %>">
                  <a href="/elements/sortable" title="Sortable">
                     <span>Sortable</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'panel' %>">
                  <a href="/elements/panel" title="Panels">
                     <span data-localize="sidebar.nav.element.PANEL">Panels</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'portlet' %>">
                  <a href="/elements/portlet" title="Portlets">
                     <span data-localize="sidebar.nav.element.PORTLET">Portlets</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'grid' %>">
                  <a href="/elements/grid" title="Grid">
                     <span data-localize="sidebar.nav.element.GRID">Grid</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'gridmasonry' %>">
                  <a href="/elements/gridmasonry" title="Grid Masonry">
                     <span data-localize="sidebar.nav.element.GRID_MASONRY">Grid Masonry</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'typography' %>">
                  <a href="/elements/typography" title="Typography">
                     <span data-localize="sidebar.nav.element.TYPO">Typography</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'fonticons' %>">
                  <a href="/elements/fonticons" title="Font Icons">
                     <div class="label label-success pull-right">+400</div>
                     <span data-localize="sidebar.nav.element.FONT_ICON">Font Icons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'weathericons' %>">
                  <a href="/elements/weathericons" title="Weather Icons">
                     <div class="label label-success pull-right">+100</div>
                     <span data-localize="sidebar.nav.element.WEATHER_ICON">Weather Icons</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'elements' && controller.action_name == 'colors' %>">
                  <a href="/elements/colors" title="Colors">
                     <span data-localize="sidebar.nav.element.COLOR">Colors</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'forms' %>">
            <a href="#forms" title="Forms" data-toggle="collapse">
               <em class="icon-note"></em>
               <span data-localize="sidebar.nav.form.FORM">Forms</span>
            </a>
            <ul id="forms" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Forms</li>
               <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'standard' %>">
                  <a href="/forms/standard" title="Standard">
                     <span data-localize="sidebar.nav.form.STANDARD">Standard</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'extended' %>">
                  <a href="/forms/extended" title="Extended">
                     <span data-localize="sidebar.nav.form.EXTENDED">Extended</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'validation' %>">
                  <a href="/forms/validation" title="Validation">
                     <span data-localize="sidebar.nav.form.VALIDATION">Validation</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'upload' %>">
                  <a href="/forms/upload" title="Upload">
                     <span>Upload</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'wizard' %>">
                  <a href="/forms/wizard" title="Wizard">
                     <span>Wizard</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'xeditable' %>">
                  <a href="/forms/xeditable" title="xEditable">
                     <span>xEditable</span>
                  </a>
               </li>
                <li class="<%= 'active' if controller.controller_name == 'forms' && controller.action_name == 'imgcrop' %>">
                   <a href="/forms/imgcrop" title="Cropper">
                      <span>Cropper</span>
                   </a>
                </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'charts' %>">
            <a href="#charts" title="Charts" data-toggle="collapse">
               <em class="icon-graph"></em>
               <span data-localize="sidebar.nav.chart.CHART">Charts</span>
            </a>
            <ul id="charts" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Charts</li>
               <li class="<%= 'active' if controller.controller_name == 'charts' && controller.action_name == 'flot' %>">
                  <a href="/charts/flot" title="Flot">
                     <span data-localize="sidebar.nav.chart.FLOT">Flot</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'charts' && controller.action_name == 'radial' %>">
                  <a href="/charts/radial" title="Radial">
                     <span data-localize="sidebar.nav.chart.RADIAL">Radial</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'charts' && controller.action_name == 'chartjs' %>">
                  <a href="/charts/chartjs" title="ChartJS">
                     <span>ChartJS</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'charts' && controller.action_name == 'rickshaw' %>">
                  <a href="/charts/rickshaw" title="Rickshaw">
                     <span>Rickshaw</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'charts' && controller.action_name == 'morris' %>">
                  <a href="/charts/morris" title="Morris">
                     <span>Morris</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'charts' && controller.action_name == 'chartist' %>">
                  <a href="/charts/chartist" title="Chartist">
                     <span>Chartist</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'tables' %>">
            <a href="#tables" title="Tables" data-toggle="collapse">
               <em class="icon-grid"></em>
               <span data-localize="sidebar.nav.table.TABLE">Tables</span>
            </a>
            <ul id="tables" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Tables</li>
               <li class="<%= 'active' if controller.controller_name == 'tables' && controller.action_name == 'standard' %>">
                  <a href="/tables/standard" title="Standard">
                     <span data-localize="sidebar.nav.table.STANDARD">Standard</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'tables' && controller.action_name == 'extended' %>">
                  <a href="/tables/extended" title="Extended">
                     <span data-localize="sidebar.nav.table.EXTENDED">Extended</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'tables' && controller.action_name == 'datatable' %>">
                  <a href="/tables/datatable" title="DataTables">
                     <span data-localize="sidebar.nav.table.DATATABLE">DataTables</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'tables' && controller.action_name == 'jqgrid' %>">
                  <a href="/tables/jqgrid" title="jqGrid">
                     <span>jqGrid</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'maps' %>">
            <a href="#maps" title="Maps" data-toggle="collapse">
               <em class="icon-map"></em>
               <span data-localize="sidebar.nav.map.MAP">Maps</span>
            </a>
            <ul id="maps" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Maps</li>
               <li class="<%= 'active' if controller.controller_name == 'maps' && controller.action_name == 'google' %>">
                  <a href="/maps/google" title="Google Maps">
                     <span data-localize="sidebar.nav.map.GOOGLE">Google Maps</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'maps' && controller.action_name == 'vector' %>">
                  <a href="/maps/vector" title="Vector Maps">
                     <span data-localize="sidebar.nav.map.VECTOR">Vector Maps</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="nav-heading">
            <span>More</span>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'pages' %>">
            <a href="#pages" title="Pages" data-toggle="collapse">
               <em class="icon-doc"></em>
               <span data-localize="sidebar.nav.pages.PAGES">Pages</span>
            </a>
            <ul id="pages" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Pages</li>
               <li class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'login' %>">
                  <a href="/pages/login" title="Login">
                     <span data-localize="sidebar.nav.pages.LOGIN">Login</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'register' %>">
                  <a href="/pages/register" title="Sign up">
                     <span data-localize="sidebar.nav.pages.REGISTER">Sign up</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'recover' %>">
                  <a href="/pages/recover" title="Recover Password">
                     <span data-localize="sidebar.nav.pages.RECOVER">Recover Password</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'lock' %>">
                  <a href="/pages/lock" title="Lock">
                     <span data-localize="sidebar.nav.pages.LOCK">Lock</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'template' %>">
                  <a href="/pages/template" title="Starter Template">
                     <span data-localize="sidebar.nav.pages.STARTER">Starter Template</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'pages' && controller.action_name == 'notfound' %>">
                  <a href="/pages/notfound" title="notfound">
                     <span>404</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'extras' %>">
            <a href="#extras" title="Extras" data-toggle="collapse">
               <em class="icon-cup"></em>
               <span data-localize="sidebar.nav.extra.EXTRA">Extras</span>
            </a>
            <ul id="extras" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Extras</li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'mailbox' %>">
                  <a href="/extras/mailbox" title="Mailbox">
                     <span data-localize="sidebar.nav.extra.MAILBOX">Mailbox</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'timeline' %>">
                  <a href="/extras/timeline" title="Timeline">
                     <span data-localize="sidebar.nav.extra.TIMELINE">Timeline</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'calendar' %>">
                  <a href="/extras/calendar" title="Calendar">
                     <span data-localize="sidebar.nav.extra.CALENDAR">Calendar</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'invoice' %>">
                  <a href="/extras/invoice" title="Invoice">
                     <span data-localize="sidebar.nav.extra.INVOICE">Invoice</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'search' %>">
                  <a href="/extras/search" title="Search">
                     <span data-localize="sidebar.nav.extra.SEARCH">Search</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'todo' %>">
                  <a href="/extras/todo" title="Todo List">
                     <span data-localize="sidebar.nav.extra.TODO">Todo List</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'extras' && controller.action_name == 'profile' %>">
                  <a href="/extras/profile" title="Profile">
                     <span data-localize="sidebar.nav.extra.PROFILE">Profile</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'blog' %>">
            <a href="#blog" title="Blog" data-toggle="collapse">
               <em class="icon-notebook"></em>
               <span>Blog</span>
            </a>
            <ul id="blog" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Blog</li>
               <li class="<%= 'active' if controller.controller_name == 'blog' && controller.action_name == 'blog' %>">
                  <a href="/blog/blog" title="List">
                     <span>List</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'blog' && controller.action_name == 'blog_post' %>">
                  <a href="/blog/blog_post" title="Post">
                     <span>Post</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'blog' && controller.action_name == 'blog_articles' %>">
                  <a href="/blog/blog_articles" title="Articles">
                     <span>Articles</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'blog' && controller.action_name == 'blog_article_view' %>">
                  <a href="/blog/blog_article_view" title="Article View">
                     <span>Article View</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'ecommerce' %>">
            <a href="#ecommerce" title="eCommerce" data-toggle="collapse">
               <em class="icon-basket-loaded"></em>
               <span>eCommerce</span>
            </a>
            <ul id="ecommerce" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">eCommerce</li>
               <li class="<%= 'active' if controller.controller_name == 'ecommerce' && controller.action_name == 'ecommerce_orders' %>">
                  <a href="/ecommerce/ecommerce_orders" title="Orders">
                     <div class="label label-info pull-right">10</div>
                     <span>Orders</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'ecommerce' && controller.action_name == 'ecommerce_order_view' %>">
                  <a href="/ecommerce/ecommerce_order_view" title="Order View">
                     <span>Order View</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'ecommerce' && controller.action_name == 'ecommerce_products' %>">
                  <a href="/ecommerce/ecommerce_products" title="Products">
                     <span>Products</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'ecommerce' && controller.action_name == 'ecommerce_product_view' %>">
                  <a href="/ecommerce/ecommerce_product_view" title="Product View">
                     <span>Product View</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'forum' %>">
            <a href="#forum" title="Forum" data-toggle="collapse">
               <em class="icon-speech"></em>
               <span>Forum</span>
            </a>
            <ul id="forum" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Forum</li>
               <li class="<%= 'active' if controller.controller_name == 'forum' && controller.action_name == 'forum_categories' %>">
                  <a href="/forum/forum_categories" title="Categories">
                     <span>Categories</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forum' && controller.action_name == 'forum_topics' %>">
                  <a href="/forum/forum_topics" title="Topics">
                     <span>Topics</span>
                  </a>
               </li>
               <li class="<%= 'active' if controller.controller_name == 'forum' && controller.action_name == 'forum_discussion' %>">
                  <a href="/forum/forum_discussion" title="Discussion">
                     <span>Discussion</span>
                  </a>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'multilevel' %>">
            <a href="#multilevel" title="Multilevel" data-toggle="collapse">
               <em class="fa fa-folder-open-o"></em>
               <span>Multilevel</span>
            </a>
            <ul id="multilevel" class="nav sidebar-subnav collapse">
               <li class="sidebar-subnav-header">Multilevel</li>
               <li class="<%= 'active' if controller.controller_name == 'multilevel' && controller.action_name == 'level1' %>">
                  <a href="#level1" title="Level 1" data-toggle="collapse">
                     <span>Level 1</span>
                  </a>
                  <ul id="level1" class="nav sidebar-subnav collapse">
                     <li class="sidebar-subnav-header">Level 1</li>
                     <li class="<%= 'active' if controller.controller_name == 'multilevel' && controller.action_name == 'level1' %>">
                        <a href="/multilevel/level1" title="Level1 Item">
                           <span>Level1 Item</span>
                        </a>
                     </li>
                     <li class="<%= 'active' if controller.controller_name == 'multilevel' && controller.action_name == 'level3' %>">
                        <a href="#level2" title="Level 2" data-toggle="collapse">
                           <span>Level 2</span>
                        </a>
                        <ul id="level2" class="nav sidebar-subnav collapse">
                           <li class="sidebar-subnav-header">Level 2</li>
                           <li class="<%= 'active' if controller.controller_name == 'multilevel' && controller.action_name == 'level3' %>">
                              <a href="#level3" title="Level 3" data-toggle="collapse">
                                 <span>Level 3</span>
                              </a>
                              <ul id="level3" class="nav sidebar-subnav collapse">
                                 <li class="sidebar-subnav-header">Level 3</li>
                                 <li class="<%= 'active' if controller.controller_name == 'multilevel' && controller.action_name == 'level3' %>">
                                    <a href="/multilevel/level3" title="Level3 Item">
                                       <span>Level3 Item</span>
                                    </a>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </li>
                  </ul>
               </li>
            </ul>
         </li>
         <li class="<%= 'active' if controller.controller_name == 'documentation' && controller.action_name == 'index' %>">
            <a href="/documentation" title="Documentation">
               <em class="icon-graduation"></em>
               <span data-localize="sidebar.nav.DOCUMENTATION">Documentation</span>
            </a>
         </li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->