<footer id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 hidden-xs">
          <h3>Catégories</h3>
            <ul>
              <li>
                <%= link_to category_path('peinture-colles') do %>
                  Peinture et Colles
                <% end %>
              </li>
              <li>
                <%= link_to category_path('enduits') do %>
                  Enduits
                <% end %>
              </li>
              <li>
              <%= link_to category_path('gros-oeuvre') do %>
                Gros œuvre
              <% end %>
            </li>
             <li>
              <%= link_to category_path('isolation') do %>
                Isolation
              <% end %>
            </li>
            <li>
              <%= link_to category_path('portes-fenetres') do %>
                Portes et fenêtres
              <% end %>
            </li>
            <li>
              <%= link_to category_path('chauffage') do %>
                Chauffage
              <% end %>
            </li>
            <li>
              <%= link_to category_path('production-energie-verte') do %>
                Production d'énergie verte
              <% end %>
            </li>
            <li>
              <%= link_to category_path('systeme-economie-energie') do %>
                Système d'économie d'énergie
              <% end %>
            </li>
            <li>
              <%= link_to category_path('bois') do %>
                Pour le bois
              <% end %>
            </li>
          </ul>
      </div>
      <div class="col-md-6 col-sm-8 hidden-xs">
          <h3>Meilleurs tutoriels</h3>
            <ul>
              <li>
                <%= link_to category_path('peinture-colles') do %>
                  perspiciatis unde
                <% end %>
              </li>
              <li>
                <%= link_to category_path('enduits') do %>
                  perspiciatis unde
                <% end %>
              </li>
              <li>
              <%= link_to category_path('gros-oeuvre') do %>
                perspiciatis unde
              <% end %>
            </li>
             <li>
              <%= link_to category_path('isolation') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('portes-fenetres') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('chauffage') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('production-energie-verte') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('systeme-economie-energie') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('bois') do %>
                perspiciatis unde
              <% end %>
            </li>
          </ul>
      </div>
      <div class="col-md-6 col-sm-8 hidden-xs">
          <h3>Matériaux populaires</h3>
            <ul>
              <li>
                <%= link_to category_path('peinture-colles') do %>
                  perspiciatis unde
                <% end %>
              </li>
              <li>
                <%= link_to category_path('enduits') do %>
                  perspiciatis unde
                <% end %>
              </li>
              <li>
              <%= link_to category_path('gros-oeuvre') do %>
                perspiciatis unde
              <% end %>
            </li>
             <li>
              <%= link_to category_path('isolation') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('portes-fenetres') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('chauffage') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('production-energie-verte') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('systeme-economie-energie') do %>
                perspiciatis unde
              <% end %>
            </li>
            <li>
              <%= link_to category_path('bois') do %>
                perspiciatis unde
              <% end %>
            </li>
          </ul>
      </div>
      <div class="newsletter col-md-6 col-sm-24">
        <h3>Newsletter</h3>
        <input type="text" name="email" id="newsletter-mail"  placeholder="Votre adresse mail">
        <input type="submit" value="M'inscrire" id="" class="btn btn-default">
      </div>
    </div>
  </div>
  <div class="footer-low">
    <div class="container">
      <div class="table-cell">
        <%= image_tag("logo.svg", :id => 'logo') %>
        <ul class="social-network pull-right">
          <li>
            <a href="https://twitter.com/climateriaux" target="_blank" rel="nofollow" class="footer-social-twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://fr-fr.facebook.com/climateriaux/" target="_blank" rel="nofollow" class="footer-social-facebook">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/climat%C3%A9riaux" target="_blank" rel="nofollow" class="footer-social-linkedin">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
    <!--<div class="col-md-6 col-xs-24 footer-social">
      <p class="bold">Suivez nous :</p>
      <a href="https://twitter.com/climateriaux" target="_blank" rel="nofollow" class="footer-social-twitter">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://fr-fr.facebook.com/climateriaux/" target="_blank" rel="nofollow" class="footer-social-facebook">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/company/climat%C3%A9riaux" target="_blank" rel="nofollow" class="footer-social-linkedin">
        <i class="fa fa-linkedin"></i>
      </a>
    </div>-->

<!--
<div class="footer-credits container-fluid">
  <div class="row">
    <div class="col-xs-24 col-md-offset-2 col-md-6 footer-logo">
      <%= image_tag("logo.png") %>
    </div>
    <div class="col-xs-24 col-md-8 footer-other-link">
      <a href="http://blog.climateriaux.fr">Blog</a> | Condition général d’utilisation & de vente | Mentions légales | Contact
    </div>
    <div class="col-xs-24 col-md-6 footer-copyright">Copyright © 2016 - Climatériaux</div>
    </div>
  </div>
</div>-->
