<header class="container-fluid clearfix noselect">
  <nav class="navbar-custom navbar-fixed-top">
    <div class="">
      <div class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag("logo.svg", :id => 'logo') %>
        <% end %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <form class="searchbox">
          <input type="search" placeholder="Rechercher un produit, un tutoriel, ..." name="search" class="searchbox-input" required>
          <button type="submit" class="searchbox-submit"></button>
          <span class="searchbox-icon">
            <i class="fa fa-search"></i>
          </span>
        </form>
        <ul class="nav navbar-nav">
          <li class="block-user">
            <%= link_to root_path do %>
            <i class="fa fa-user"></i> Mon compte
            <% end %>
          </li>
          <li class="block-cart">
            <%= render 'layouts/cart' %>
          </li>                
        </ul>
      </div>
      <ul class="categories">
        <li class="primary-category peinture-colle">
          <%= link_to 'Peintures et colles', category_path('peinture-colles') %>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category enduit">
          <%= link_to 'Enduits', category_path('enduits') %>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Gros oeuvre</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Bois</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Portes & fenêtres</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Production d'énergie verte</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Gros oeuvres</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Chauffage</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
        <li class="primary-category gros-oeuvre">
          <a href="#">Isolation</a>
          <ul>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
            <li>
              <a href="#">item1</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
  