<header class="container-fluid clearfix noselect">
  <nav class="navbar-custom navbar-fixed-top">
    <div class="">
      <div class="navbar-header">
        <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag("logo.svg", :id => 'logo') %>
        <% end %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <%= render 'layouts/header_search'%>
        <ul class="nav navbar-nav">
          <li class="block-user">
            <%= link_to root_path do %>
              Aide
            <% end %>
          </li>
          <li class="block-user">
            <%= link_to root_path do %>
              Le blog
            <% end %>
          </li>
          <li class="block-user">
            <%= link_to root_path do %>
              Mon compte
            <% end %>
          </li>
          <li class="block-cart">
            <%= render 'layouts/cart' %>
          </li>                
        </ul>
      </div>
      <%= render 'layouts/header_categories' %>
    </div>
  </nav>
</header>
  