<ul class="categories">
  <li class="primary-category peinture-colle">
    <%= link_to 'Peintures et colles', category_path('peinture-colles') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category enduit">
    <%= link_to 'Enduits', category_path('enduits') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category gros-oeuvre">
    <%= link_to 'Gros oeuvre', category_path('gros-oeuvre') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category bois">
    <%= link_to 'Bois', category_path('bois') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category gros-oeuvre">
    <%= link_to 'Portes & fenêtres', category_path('portes-fenetres') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category gros-oeuvre">
    <%= link_to "Production d'énergie verte", category_path('production-energie-verte') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category gros-oeuvre">
    <%= link_to "Gros oeuvres", category_path('gros-oeuvre') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category gros-oeuvre">
    <%= link_to "Chauffage", category_path('chauffage') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
  <li class="primary-category gros-oeuvre">
    <%= link_to "Isolation", category_path('isolation') %>
    <ul>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
      <li>
        <a href="#">item1</a>
      </li>
    </ul>
  </li>
</ul>