<!DOCTYPE html>
<html>
<head>
  <title>Climateriaux</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#75ad31">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#75ad31">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !devise_controller? %>
    <%= render 'layouts/header'%>
  <% end %>
  <%= yield %>
  <% if !devise_controller? %>
    <%= render 'layouts/footer'%>
  <% end %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
